
# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.


#
# Checkout Core Features : "@razorpay/checkout-cx-1" team
#
app/modules/bridge/                                     @razorpay/checkout-cx-1
app/modules/configurability/                            @razorpay/checkout-cx-1
app/modules/rtb/                                        @razorpay/checkout-cx-1

#
# Checkout One-Click-Checkout (1cc) Features: "@razorpay/checkout-1cc" team
#
app/modules/one_click_checkout/                         @razorpay/checkout-1cc

#
# Checkout Application Build/Deploy
#
.github/actions/                                        @razorpay/checkout-cx-1
git-hooks/                                              @razorpay/checkout-cx-1
cdn/                                                    @razorpay/checkout-cx-1           @razorpay/checkout-1cc
beta-cdn/qa/                                            @razorpay/checkout-cx-1           @razorpay/checkout-1cc 
beta-cdn/                                               @razorpay/checkout-cx-1           @razorpay/checkout-1cc 
dockerconf/                                             @razorpay/checkout-cx-1
Dockerfile                                              @razorpay/checkout-cx-1
Dockerfile.dev                                          @razorpay/checkout-cx-1
gulpfile.js                                             @razorpay/checkout-cx-1
jest.config.js                                          @razorpay/checkout-cx-1
jest.ut.config.js                                       @razorpay/checkout-cx-1
nodemon.json                                            @razorpay/checkout-cx-1   
rollup.config.js                                        @razorpay/checkout-cx-1
rollup.test.js                                          @razorpay/checkout-cx-1
tsconfig.json                                           @razorpay/checkout-cx-1
.babelrc                                                @razorpay/checkout-cx-1
.eslintrc.js                                            @razorpay/checkout-cx-1
