.container {
  width: 40px;
  position: relative;
  background-color: #2941bc;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin: 18px 0px;
  cursor: pointer;
  opacity: 0.5;
}

.logoContainer.active {
  opacity: 1;
}
