# outputs
/scripts/server/page.ljbc
/scripts/feature-list/*.csv
/app/dist
/app/modules/generated
/app/js/generated
/app/index.html
/coverage
/app/mocks

# dependencies
/node_modules

# misc
*.orig
.DS_Store
tsconfig.tsbuildinfo

# others
npm-debug.log
/app/config.js
/httpd.conf
.idea
.vscode

test-report.xml
test-results.json
test-1cc-results.json
log-1cc.txt
ut1ccMetrics.csv

#playwright
vision/test-results
vision/autogen/screenshots/temp
*darwin.png
vision-results