# outputs
/app/dist
/app/modules/generated
/app/js/generated
/app/index.html
/coverage
/app/mocks

# dependencies
/node_modules

# misc
*.orig
.DS_Store

# others
npm-debug.log
/app/config.js
/httpd.conf
.idea
.vscode

test-report.xml
test-results.json
test-1cc-results.json
log-1cc.txt
ut1ccMetrics.csv

#playwright
vision/test-results
*darwin.png
