@require 'common';

@keyframes spring {
  0% {
    transform: translateY(-70px);
  }

  7.61% {
    transform: translateY(-32.462px);
  }

  11.41% {
    transform: translateY(-18.366px);
  }

  15.12% {
    transform: translateY(-8.307px);
  }

  18.92% {
    transform: translateY(-1.41px);
  }

  22.72% {
    transform: translateY(2.642px);
  }

  30.23% {
    transform: translateY(5.064px);
  }

  50.25% {
    transform: translateY(1.065px);
  }

  70.27% {
    transform: translateY(-0.242px);
  }

  100% {
    transform: translateY(0);
  }
}

$first = 0.2s;
$second = 0.2s;
$springTime = 0.8s;
$gridStagger = 0.05s;

.showable {
  position: absolute;
  display: none;
  opacity: 0;
  transition: 0.2s;
  backface-visibility: none;
  width: 100%;

  &.drishy {
    opacity: 1;
    display: block;
    position: relative;
  }
}

.redesign .showable {
  transition: 0s !important;
}

#form-common {
  .pad {
    transform: none;
    transition: none;
  }

  .legend {
    transition: $springTime;
  }
}

#form-common.not-first .pad {
  animation: $springTime spring;
}

.tab-content.drishy {
  transition-delay: $second;
  .item-inner {
    transform: scale(1);
  }
}

#body {
  &[tab] {
    #form-common {
      .pad {
        transition: $first;
      }
    }
  }
}

#body {
  #user {
      display: block;
    }
}

.item-inner {
  position: relative;
  transition: 0.2s;
  transform: scale(0);
}

for $i in (1..4) {
  .l-#{$i} {
    transition-delay: $gridStagger * $i + $second;
  }
}

.shake {
  transform-origin: center;
  animation-name: shake;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.x-shake {
  transform-origin: center;
  animation-name: horizontalShake;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  0% {
    transform: none;
  }

  12.5% {
    transform: translateX(-6px) rotateY(-5deg);
  }

  37.5% {
    transform: translateX(5px) rotateY(4deg);
  }

  62.5% {
    transform: translateX(-3px) rotateY(-3deg);
  }

  87.5% {
    transform: translateX(2px) rotateY(2deg);
  }

  100% {
    transform: none;
  }
}

@keyframes horizontalShake {
  0% {
    transform: none;
  }

  12.5% {
    transform: translateX(-6px);
  }

  37.5% {
    transform: translateX(5px);
  }

  62.5% {
    transform: translateX(-3px);
  }

  87.5% {
    transform: translateX(2px);
  }

  100% {
    transform: none;
  }
}

@keyframes instrument-skeleton {
  0% {
    transform: translateX(-100%);
  }
  
  100% {
    transform: translateX(100%);
  }
}

[data-flip='invert'] {
    transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * 1px)) scale(var(--dw), var(--dh));
    transition-property: font-size;
    transition-duration: 0.5s;
  }
[data-flip='play'] {
    transform: none;
    transition-property: transform, font-size;
    transition-duration: 0.5s;
  }
