@import "common";

@keyframes spring {
  0% {
    transform: translateY(-70px);
  }

  7.61% {
    transform: translateY(-32.462px);
  }

  11.41% {
    transform: translateY(-18.366px);
  }

  15.12% {
    transform: translateY(-8.307px);
  }

  18.92% {
    transform: translateY(-1.41px);
  }

  22.72% {
    transform: translateY(2.642px);
  }

  30.23% {
    transform: translateY(5.064px);
  }

  50.25% {
    transform: translateY(1.065px);
  }

  70.27% {
    transform: translateY(-0.242px);
  }

  100% {
    transform: translateY(0);
  }
}

$first: 0.2s;
$second: 0.2s;
$springTime: 0.8s;
$gridStagger: 0.05s;

.showable {
  position: absolute;
  display: none;
  opacity: 0;
  transition: 0.2s;
  backface-visibility: none;
  width: 100%;

  &.shown {
    opacity: 1;
  }
}

#tab-netbanking .select {
  opacity: 0;
  transition: $first;
}

#topbar {
  opacity: 0;
  transform: translateY(-$topbarh);

  &.shown {
    opacity: 1;
    transform: translateY(0);
    transition: $first transform ease-out $first, $first opacity ease-out $first, 0.1s color;
  }
}

#form-common {
  .pad {
    transform: none;
    transition: none;
  }

  .legend,
  #payment-options {
    transition: $springTime;
  }
}

#form-common.not-first .pad {
  animation: $springTime spring;
}

.tab-content.shown {
  transition-delay: $second;
}

#modal {
  &.sub {
    #footer {
      transition-delay: $second;
      transform: none;
    }
    #form-fields {
      border-radius: 0;
    }
  }
}

#body {
  &.tab {
    #user {
      display: block;
    }
    #form-common {
      .pad {
        transition: $first;
      }

      .legend,
      #payment-options {
        opacity: 0;
        transition: $first;
      }
    }

    #tab-card.shown .pad {
      animation: $springTime spring;
      animation-delay: $second;
    }

    #tab-netbanking .select {
      transition: $first;
      transition-delay: $second + $gridStagger * 6 + $gridStagger;
      opacity: 1;
    }
  }
}

.item-inner {
  position: relative;
  transition: 0.2s;
  transform: scale(0);
}

.tab-content.shown .item-inner {
  transform: scale(1);
}

@for $i from 1 through 4 {
  .l-#{$i} {
    transition-delay: $gridStagger * $i + $second;
  }
}

.shake {
  transform-origin: center;
  animation-name: shake;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  0 {
    transform: none;
  }

  12.5% {
    transform: translateX(-6px) rotateY(-5deg);
  }

  37.5% {
    transform: translateX(5px) rotateY(4deg);
  }

  62.5% {
    transform: translateX(-3px) rotateY(-3deg);
  }

  87.5% {
    transform: translateX(2px) rotateY(2deg);
  }

  100% {
    transform: none;
  }
}
