@require 'common';

.cob
  #logo
    display: none
  #header
    text-align: center
    padding: 16px 0 40px
    overflow: visible
  #cob-image
    width: 180px
    height: 60px
    border-radius: 2px
    margin: (-@height / 2) 0 0 (-@width / 2)
    position: absolute
    top: 100%
    left: 50%
    background: no-repeat #fff center
    background-size: 130px
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.14)
  #cob-rzp
    display: none
    position: fixed
    bottom: 0;
    z-index: 9;
    width: 160px;
    left: 50%;
    margin-left: -76px;
  &.mobile
    #cob-rzp
      display: block

  #topbar, #form
    padding-top: 30px
  #body
    height: 355px
    min-height: 355px