$font = ubuntu, helvetica, sans-serif;
$lato = "lato", $font;

$headerh = 128px;

$col = #333;
$pri = #29b7d8;
$danger = #f46060;
$bc = #e6e7e8;
$bg = #fcfbfa;
$bgd = #f0f0f0;

$input-unfocused = #424242;
$input-focused = #000;

$br = 3px;
$bs = 0 1px 3px rgba(0, 0, 0, 0.1);

$padh = 20px;
$size = 14px;
$p = 24px;
$topbarh = 46px;
$footerh = 55px;

$bodyh = 327px;
$bodyhmobile = 327px + $footerh;

$cover() {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

$hidePowered() {
  #powered-by {
    visibility: hidden !important;
    z-index: -1;
    pointer-events: none;
  }
}

.float-left {
  float: left;
}

.text-uppercase {
  text-transform: uppercase;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.show {
  display: block;
}

.hidden {
  display: none
}
