@import "common";

@font-default: arial, helvetica, sans-serif;
@font-family: 'lato', @font-default;

@primary: rgb(128, 88, 165);

@color: #7f7f7f;
@border-color: #dadada;
@background-color: #fbf9f8;
@danger: #f46060;
@border-radius: 4px;

@width: 317px;
@padding: 15px;

@font-size: 14px;
// input elements horizontal padding
@input-padding: 16px;
@input-height: 42px;
@icon-size: 30px; // input fields icons

u{
  text-decoration: none;
}
i{
  font-style: normal;
  display: none;
}
.clear{
  .clearfix();
}
#nb-na {
  text-align: center;
  div{
    color: @danger;
  }
  a{
    cursor: pointer;
    border-bottom: 1px solid @primary;
    font-size: 12px;
    color: @primary;
    position: relative;
    top: 6px;
  }
}

body, html{
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
iframe{
  display: none;
}
.backdrop{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: none;
}

#container{
  height: 100%;
  outline: none;
  text-align: center;
  transition: 0.25s ease-out opacity;
  z-index: 19999;
  .middlefix();

  &.shown{
    opacity: 1;
    #powered-by{
      opacity: 1;
    }
    .modal{
      opacity: 1;
      transform: none;
      transition: 0.25s cubic-bezier(0.3, 1.5, 0.7, 1) transform;
    }
  }
}
.font-loaded{
  .modal, button, input, select {
    font-family: @font-family;
    font-feature-settings: "liga" 0;
  }
  #powered-by{
    visibility: visible;
    opacity: 1;
  }
  i{
    display: inline-block;
  }
  u{
    display: none;
  }
}
.placeholder{
  position: absolute;
  top: 0;
  left: 0;
  color: #999;
}
button, input, select {
  border: none;
  background: none;
  font-family: @font-default;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
  -webkit-tap-highlight-color: transparent;
}
input, select {
  border-radius: inherit;
  display: inline-block;
  color: inherit;
  font-size: 14px;
  resize: none;
  width: 100%;
  background: none;
  position: relative;
}
input:not([type=radio]), select{
  appearance: none;
}
input, .placeholder{
  height: @input-height;
  line-height: @input-height;
  padding: 10px 0 10px 3*@input-padding;
  box-sizing: border-box;
}
select{
  padding: 8px 0 8px 3*@input-padding;
  height: @input-height;
  line-height: @input-height/2;
}
input[disabled]{
  background: #f4f4f4;
}
.modal{
  perspective: 300;
  outline: none;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  margin: 20px 0;
  opacity: 0;
  transform: scale(0.9);

  &.animate{
    transition: 0.25s ease-in!important;
  }

  color: @color;
  font-size: @font-size;
  width: @width;
  font-family: @font-default;
  box-shadow: 0 0 6px 0px rgba(0,0,0, 0.15);

  // ie7 and below, middlefix doesn't work.
  // NOTE: it isn't because of lack of :after, but buggy white-space support
  *top: 10%;
}
.modal-content{
  min-height: 486px;
}
.modal-inner{
  position: relative;
  border-radius: @border-radius;
  background: @background-color;
  &.anim{
    transition: 0.15s ease-out;
  }
}
.elem{
  clear: both;
  height: @input-height;
  line-height: @input-height;
  position: relative;
  margin: 0;
  cursor: text;
  display: block;

  .i{
    position: absolute;
    left: @input-padding;
    line-height: 34px;
    top: 0;
    font-size: @icon-size;
    color: #999;
  }
  &.focused{
    i{
      color: #333;
    }
  }
  &.mature.invalid{
    color: @danger;
  }
  &.filled, &.focused{
    color: #333;
    .placeholder{
      display: none;
    }
  }
  &+.elem{
    &:before{
      position: absolute;
      left: 14px;
      right: 14px;
      border-top: 1px solid #eee;
      content: '';
    }
  }
}
.double{
  font-size: 0;
  letter-spacing: -4px;
  .elem{
    font-size: @font-size;
    letter-spacing: 0;
    display: inline-block;
    width: (@width - 3px)/2 - @padding;
    *float: left;
  }
}
#card_cvv{
  -webkit-text-security: disc;
}
// ie9, 10
@media screen and (~"min-width:0\0") {
  .help-text{
    display: none;
  }
  .focused.invalid.mature .help-text{
    display: block;
  }
}
.help-text{
  font-weight: bold;
  display: none\9; // <ie9
  color: #fff;
  pointer-events: none;
  position: absolute;
  max-width: 90%;
  line-height: 16px;
  padding: 8px 12px;
  font-size: 12px;
  background: #333;
  border-radius: @border-radius;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2px 0px;
  .opacity(0);
  transform: translateY(10px);
  transition: 0.25s ease-in transform, 0.16s ease-in opacity;
  bottom: 100%;
  left: 11px;
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    bottom: 0;
    left: 14px;
    margin: 0 0 -11px -7px;
  }
}
.focused.invalid.mature .help-text{
  display: block; // helps when pointer-events is not supported
  .opacity(0.85);
  transform: none;
  transition: 0.2s cubic-bezier(0.6, 1.6, 0.8, 1) transform, 0.2s ease-out opacity;
}
.fieldset{
  background: #fff;
  border: 1px solid @border-color;
  padding-top: 1px;
  border-radius: 4px;
  margin: 0 0 16px;
}
/* Default class for an overlay */
.header{
  border-radius: @border-radius @border-radius 0 0;
  position: relative;
  padding: @padding;
  height: 48px;
  text-align: left;
}
.merchant-image{
  float: left;
  height: 56px;
  display: block;
  width: 56px;
  padding: 12px;
  border-radius: @border-radius;
  border: 1px solid @border-color;
  margin: -24px @padding @padding 0;
  background: #fff;
  .middlefix();
}
.merchant-image img{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.merchant-name{
  vertical-align: middle;
  display: inline-block;
}
.merchant-desc{
  font-size: 18px;
  color: #555;
  text-transform: uppercase;
}
.merchant-title{
  color: #333;
  margin-bottom: 5px;
}
#modal-close{
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  &:hover{
    color: #333;
  }
}
.rupee-icon:before{
  content: "\e600";
}
.clear{
  clear:both;
}
.body{
  text-align: left;
  padding: 3px @padding;
  clear: both;
}
.nocvv{
  opacity: 0;
  color: #666;
  margin-top: 10px;
  line-height: 20px;
  transition: 0.3s;
  display: none\9; // ie8
  display: none;
}
#elem-card{
  transition: 0.3s;
  i{
    left: 14px;
  }
  &[cardtype=unknown] i{
    font-size: @icon-size;
  }
  &[cardtype=visa] i{
    background-image: url('../images/icons/visa.png');
  }
  &[cardtype=mastercard] i{
    background-image: url('../images/icons/mastercard.png');
  }
  &[cardtype=maestro]{
    // margin-bottom: 40px;
    i{
      background-image: url('../images/icons/maestro.png');
    }
    .nocvv{
      opacity: 1;
      // display: block\9;
    }
  }
  &[cardtype=maestro16] i{
    background-image: url('../images/icons/maestro.png');
  }
  &[cardtype=rupay] i{
    background-image: url('../images/icons/rupay.png');
  }
  &[cardtype=amex] i{
    background-image: url('../images/icons/amex.png');
  }
}
#cardsave{
  width: 15px;
  -webkit-appearance: checkbox;
  vertical-align: middle;
  margin: 0 15px 0 17px;
}
.elem-cvv{
  label{
    color: #555;
    position: absolute;
    right: @input-padding;
    top: 0;
  }
}
#submitbtn{
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  border-radius: 0 0 @border-radius @border-radius;
  background: @primary;
  line-height: 54px;
  color: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.4) inset;
  width: 100%;
  cursor: pointer;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    opacity: 0;
    background: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  }
  &:hover:after{
    opacity: 1;
  }
  &:hover:active:after{
    box-shadow: 0 3px 5px rgba(0,0,0,.3) inset;
  }
}
#error-message{
  left: 0;
  right: 0;
  position: absolute;
  background-color: @danger;
  color: #fff;
  text-align: center;
  line-height: 18px;
  padding: 10px 20px 12px;
  overflow: hidden;
  transition: 0.3s;
  bottom: 100%;
}
#error-container{
  position: relative;
  overflow: hidden;
  display: none!important;
  margin: 0 -@padding;
  transition: 0.3s;
  &.has-error{
    #error-message{
      bottom: 0;
    }
  }
}
.tab-content{
  display: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
.tab-content.active{
  display: block;
}

@inner: @width - 2*@padding;
#tabs{
  padding: 0;
  font-size: 0;
  letter-spacing: -4px;
  white-space: nowrap;
  display: none;
  margin-left: 1px;
  margin-right: 2px;
  *margin-bottom: -@padding; // ie7

  &.tabs-2{
    display: block;
  }

  &.tabs-3{
    display: block;
    li{
      width: 33.33%;
    }
  }

  li{
    *float: left; // <ie7
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    height: 48px;
    line-height: 46px;
    margin: 0 0 0 -1px;
    text-align: center;
    border: 1px solid @border-color;
    width: 50%;
    font-size: @font-size;
    letter-spacing: 0;
    cursor: pointer;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-bottom: 1px;

    &:hover{
      color: #333;
    }
    
    &.active{
      color: #333;
      border-bottom: 2px solid @primary;
      padding-bottom: 0;
      cursor: default;
      pointer-events: none;
      z-index: 1;
    }

    &:first-child{
      border-top-left-radius: @border-radius;
      // border-bottom-left-radius: @border-radius;
    }
    &:last-child{
      border-top-right-radius: @border-radius;
      // border-bottom-right-radius: @border-radius;
    }
  }
}

.wallet-radio{
  display: none;
}
.wallets-2{
  .wallet-radio{
    width: 50%;
  }
}
.wallets-1{
  .wallet-radio{
    width: 100%;
    text-align: left;
    font-size: @font-size;
  }
  img{
    display: none!important;
  }
  input{
    display: inline-block;
    width: auto;
    margin: 0 8px 0 0;
  }
}
#method-wallet-tab{
  .colored{
    display: none;
  }
}
#method-wallet-tab{
  &:hover, &.active{
    img{
      display: none;
    }
    .colored{
      display: inline-block;
    }
  }
}
#form{
  margin: 0;
  padding-bottom: 52px;
  display: block;
}
.footer{
  bottom: 0;
  z-index: 2;
  width: 100%;
  position: absolute;
  margin: 0 -@padding;
}
#powered-by{
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  bottom: -60px;
  display: block;
  font-size: 36px;
  transition: 0.3s;
  position: absolute;
  transition-delay: 0.2s;
  font-family: @font-family;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  
  a{
    color: #bbb;
    outline: none;
    line-height: 36px;
    transition: 0.3s;
    text-decoration: none;
    &:hover{
      color: #ddd;
    }
  }
}
input[type=radio]{
  opacity: 0;
  position: absolute;
  width: 0;
  pointer-events: none;
  z-index: -1;
}
label.elem{
  white-space: nowrap;
  cursor: pointer;
}
.check{
  border-radius: 50%;
  height: 14px;
  width: 14px;
  vertical-align: middle;
  margin: -0 10px 0 14px;
  display: inline-block;
  border: 1px solid @primary;
  transition: 0.2s;
  box-sizing: border-box;
}
input:checked+label{
  color: #333;
  .check{
    border-width: 5px;
  }
  img{
    filter: none!important;
  }
}
label{
  img{
    vertical-align: middle;
    height: 16px;
    // opacity: 0.7;
    filter: opacity(0.7);
  }
}
#tab-wallet{
  img{
    height: 20px;
    margin: -2px 0 0 6px;
  }
  .check{
    margin-right: 14px;
  }
}
.offer{
  // @primary: #29b3d2;
  position: absolute;
  right: -2px;
  top: -2px;
  border-radius: 3px;
  color: #fff;
  border: 14px solid;
  width: 0;
  height: 0;
  line-height: 0;
  border-color: @primary @primary transparent transparent;
  i{
    right: 1px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    font-family: @font-default;
    position: relative;
    top: -6px;
  }
}
.ribbon{
  // @primary: #29b3d2;
  background: @primary;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.25px;
  line-height: 20px;
  padding: 0 8px 0 6px;
  position: absolute;
  right: -4px;
  top: 12px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  border-radius: 0 2px 2px 0;
  &:before{
    content: '';
    border: solid;
    border-width: 10px 6px;
    border-color: @primary @primary @primary transparent;
    position: absolute;
    right: 100%;
    margin-right: -1px;
  }
}