.down
  padding: 10px 10px 10px 36px;
  background: #fafafa;
  border-radius: 2px;
  color: #345;
  font-size: 13px;
  border: 1px solid #eaebec;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 45px;
  &.vis
    display: block;
  svg
    fill: #ED232A;
    opacity: 0.8;
    position: absolute;
    left: 16px;
    top: 12px;
