.down
  margin: 2px 24px;
  padding: 6px 0px 8px 10px;
  background: #FFF4BB;
  border-radius: 2px;
  color: #345;
  font-size: 12px;
  border: 1px solid #EEDDAB;
  svg
    float: left;
    margin-right: 9px;
    stroke: #EEDDAB;
    opacity: 0.6;
