@require 'common';

#ecod-label
  display: none
.ecod
  *
    transition: none !important
  #ecod-label
    display: block
  #wallets
    border-top: 1px solid $bc
  .item
    width: 33.33% !important
  #footer, #elem-wrap-email
    display: none
  label
    background-repeat: no-repeat !important
    background-size: 54px !important
    background-position: center !important

#ecod-label-upi
  background-image: url('https://cdn.razorpay.com/checkout/upi.svg')

#ecod-label-ecod
  background-image: url('https://cdn.razorpay.com/checkout/link.svg')

#form-ecod img
  display: block
  margin: 0 auto