@require 'common';

#ecod-label
  display: none
  margin-top: 10px
.ecod
  *
    transition: none !important
  .logged #user:after
    content: none
  #profile
    display: none !important
  #body
    min-height: 432px !important
  #pad-common
    margin-top: 20px
  #ecod-label
    display: block
  #wallets
    border-top: 1px solid $bc
  .item
    width: 33.33% !important
    i
      font-size: 40px
      display: block
      margin: 0px 0 -32px
      padding-top: 10px
    &[tab=ecod]
      border-right: 1px solid $bc
  #footer, #elem-wrap-email
    display: none
  label
    background-repeat: no-repeat !important
    background-size: 54px !important
    background-position: center !important

#ecod-label-upi
  background-image: url('https://cdn.razorpay.com/checkout/upi.svg')

#form-ecod
  font-size: 16px
  img
    display: block
    margin: 0 auto