@import "common";

body.embedded {
  @include hidePowered;

  #body {
    border: 1px solid $bc;
    border-top: none;
  }

  .grid {
    background: #fff;
    margin-left: -1px;
  }

  #modal-close {
    display: none;
  }

  #modal {
    transform: none;
  }

  #footer {
    border-left: 1px solid $bc;
    border-right: 1px solid $bc;
    box-shadow: none;
  }

  #container::after {
    content: none;
  }

  #topbar {
    transition: none;
  }
}
