@require 'common';

#container.emi {
  #elem-emi {
    display: block;
  }
}

#emi-inner {
  border-radius: $br;
  display: inline-block;
  background: #fff;
  width: 100%;
  position: relative;
}

#emi-wrap {
  position: absolute;
  top: 0;
  height: 113%;
  z-index: 100;
  display: none;
  width: 500px;
  margin-left: -250px;
  left: 50%;
  transform: rotateX(-2deg) translateY(10px) scale(0.98);

  &::after {
    height: 100%;
  }

  &.drishy {
    transform: none !important;
  }

  .em {
    line-height: 32px;
    font-size: 18px;
    text-align: left;
    position: relative;
    margin-left: 26px;
  }

  i {
    position: relative;
    top: -1px;
    left: -18px;
    font-size: 22px;
  }

  .row {
    padding: 16px 0;

    &:not(:first-child) {
      height: 16px;
      border-top: 1px solid #e9e9e9;
    }
  }

  .col {
    width: 25%;
    float: left;
    white-space: nowrap;
  }

  strong {
    display: block;
  }

  select {
    padding: 6px 8px;
    float: left;
    width: 200px;
  }
}

#elem-emi {
  display: none;
  position: relative;
  margin-bottom: 14px;

  &.hidden {
    display: none !important;
  }
  .input {
    padding-right: 16px;
  }
}

#emi-select {
  padding-top: 0;
  background: #fff;
  position: absolute;
  line-height: 20px;
  bottom: 100%;
  z-index: 2;
  border: 1px solid #dedede;
  border-radius: $br;
  left: -16px;
  margin-bottom: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  color: #333;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: #fff transparent transparent;
    bottom: 0;
    left: 25px;
    margin: 0 0 -10px -7px;
    margin-bottom: -12px;
  }

  &::before {
    border-width: 7px;
    border-color: #ddd transparent transparent;
    margin-bottom: -14px;
    margin-left: -8px;
  }
}

.emi-plans-trigger
  cursor: pointer;

.emi-plans-info-container
  position: relative;

  .emi-plans-text
    color: #757575;
    font-size: 14px;
    line-height: 16px;
    padding-right: 110px;

    &.no-action
      padding-right: 12px;

  .emi-plans-action
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    line-height: 16px;
    padding-right 12px;

    &:after
      content: '\e604';
      transform: rotate(180deg);
      font-size: 8px;
      position: absolute;
      top: 1px;
      right: 0;

#add-card-container
  .emi-plans-info-container
    background-color: transparent;

    margin: 18px -24px;
    padding-left: 24px;
    padding-right: 24px;

    &:not(.details-visible)
      display: none;

    .emi-plans-action
      top: 12px;
      right: 24px;

#form-card
  .saved-card-pay-without-emi
    padding: 12px 24px;
    margin-top: 56px;
    margin-bottom: 32px;

    .emi-plans-action
        top: 12px;
        right: 24px;

#body[tab=card]
  .saved-card-pay-without-emi
    display: none;

  #view-emi-plans
    display: none;
