#modal-inner {
  background: #fff;
  border-radius: 3px;
  height: 100%;
}
#modal.iframe-active {
  min-width: 895px;
  min-height: 520px;
  width: 70vw !important;
  height: 80vh !important;
  max-width: 1440px;
  max-height: 1060px;
  #content {
    display: none;
  }
  iframe, .payment-frame {
    opacity: 1;
  }
}

.payment-frame {
  overflow: hidden;
  background: #fff;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  opacity: 0;
  display: none;
  transition: 0.3s;

  iframe {
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.5s;
    height: calc(100% - 55px);
    border: 0
    margin: 0;
    width: 100%;
  }
}

.iframe-title {
  line-height: 55px;
  padding: 0 16px;
  font-size: 16px;
  border-top: 6px solid;
  text-align: left;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.05) inset;
}

.iframe-close {
  float: left;
  cursor: pointer;
  margin-left: -12px;
  padding: 0 16px
}

.iframe-amount {
  float: right;
  &:before {
    content: 'Pay ';
    font-weight: normal;
  }
}
