#container.long
  #body
    height: 374px;

    &.has-offers

      .offers-list-container
        height: $bodyh + $footerh + 38px;

  &:not(.no-details)
    #body
      #payment-options
        label
          height: 77px;

        i
          margin: -12px 0 -6px;

        .item:last-child
          width: calc(33.33% - 1px);
