#container.long
  #body
    height: 374px;

    &.has-offers

      .offers-list-container
        height: $bodyh + $footerh + 38px;

  #form-common .legend
    margin: 9px 24px;

  &:not(.no-details)
    #body
      #payment-options
        label
          height: 77px;

        i
          margin: -12px 0 -6px;
