#container.long
  #body
    height: 374px;

    &.has-offers

      .offers-list-container
        height: $bodyh + $footerh + 38px;

  #form-common .legend
    margin: 9px 24px;
  &.no-details
    #form-common .legend
      margin: 5px 0 0;
    #payment-options.count-6 label
      height: 52px;
      padding: 10px 0;
  &.no-details.partial
    #form-common
      padding-top: 4px;

  &:not(.no-details):not(.extra)
    #body
      #payment-options
        label
          height: 77px;

        i
          margin: -12px 0 -6px;
        .gpay-icon
          margin: -9px auto 0 auto;

#container.x-long
  #body
    height: 421px;
