@import "common";

$max-width: 414px;
$max-height: 659px;

@mixin mobile-view {
  max-width: $max-width;

  * {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  @include hidePowered;

  #header,
  #footer,
  .button,
  #emi-inner {
    border-radius: 0;
  }

  &::after {
    content: none;
  }

  .shake {
    animation: none;
  }

  #body {
    &.emi-focus {
      #footer {
        position: fixed;
      }
    }
  }

  #overlay,
  #error-message {
    bottom: 0;
  }

  #content {
    height: 100%;
  }

  #emi-wrap {
    width: 100%;
    left: 0;
    margin-left: 0;
    position: absolute;
    bottom: 0;
    height: auto;
    top: auto;
    transform: translateY(15px);

    &::after {
      height: auto;
    }

    .col {
      white-space: normal;
    }

    .em {
      font-size: 14px;
      margin-left: 10px;
    }
  }

  #backdrop {
    display: none;
  }

  #modal {
    background: #fff;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(7%);
    overflow: hidden;
  }

  &.shown #modal {
    transition: 0.3s ease-out all;
  }

  #payment-options {
    border-bottom: 1px solid $bc;
  }

  .item-inner {
    transform: none;
    opacity: 0;
  }

  .tab-content.shown .item-inner {
    opacity: 1;
  }

  #footer {
    bottom: 0;
    z-index: 10;
    transform: translateY(100%);
  }
}

@media (max-device-height: 450px), (max-device-width: 450px) {
  @include mobile-view;

  .mobile {
    @include mobile-view;
  }
}

.noanim {
  #modal {
    transition: none !important;
    animation: none !important;
  }
}