@require 'common';

.clear {
  clear: both;
  overflow: auto;
}

[tabIndex] {
  outline: none;
}

.mfix {
  white-space: nowrap;

  &::after {
    content: "";
    height: 96%;
    display: inline-block;
    width: 0;
    vertical-align: middle;
  }
}

.mchild {
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
}

body,
html {
  height: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.double {
  width: 100%;

  .first,
  .second {
    float: left;
    width: 50%;
  }
  .second {
    float: right;
    text-align: right;
  }
}

.pad {
  padding: 0 24px;
  box-sizing: border-box;
}

#wallets {
  position: relative;
  .help {
    left: 12px;
  }
}

.grid {
  text-align: center;

  &.count-1 .item {
    width: 100%;
  }

  &.count-2 .item, &.count-4 .item {
    width: 50%;
  }

  &.count-5 .item:nth-child(5), &.count-7 .item:nth-child(7) {
    border-right: 1px solid $bc;
    box-sizing: content-box;
  }

  .item {
    cursor: pointer;
    width: 33.33%;
    float: left;
    transition: 0.2s;
    border-bottom: 1px solid $bc;
    border-left: 1px solid $bc;
    box-sizing: border-box;
  }

  label {
    box-sizing: border-box;
    position: relative;
    cursor: inherit;
    height: 86px;
    display: block;
    font-size: 14px;

    &:hover {
      background: $bg;
    }
  }

  img {
    /* IE not accepting click as click on parent label */
    pointer-events: none;
    height: 24px;
    margin-bottom: 3px;
  }
}

#netb-banks .item {
  overflow: hidden;
  label {
    height: 80px;
  }
}

#form-netbanking {
  .elem-wrap {
    height: 62px;
  }
}

.link {
  padding: 3px 1px;
  cursor: pointer;
  font-size: 12px;
  border-bottom: 1px solid;
}

.text-btn {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
}

a {
  outline: none;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

i {
  font-style: normal;
  opacity: 0;
}

.spin {
  display: none;
  width: 60px;
  height: 60px;
  margin: 0 auto;

  div {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    border: 4px solid #29b7d6;
    animation: spin 1.3s linear infinite;
    box-sizing: border-box;
    opacity: 0;
  }
}

.spin2 {
  margin: -60px auto 20px;
  div {
    animation-delay: 0.65s;
  }
}

@keyframes spin {
  0% {
    transform: scale(0.5);
    opacity: 0;
    border-width: 8px;
  }

  20% {
    transform: scale(0.6);
    opacity: 0.8;
    border-width: 4px;
  }

  90% {
    transform: scale(1);
    opacity: 0;
  }
}

.loading .spin {
  display: block;
}

#container {
  margin: 0 auto;
  height: 100%;
  text-align: center;
  transition: 0.3s ease-out opacity;
  // transform: translate3d(0, 0, 0);
  z-index: 19999;

  &.drishy {
    opacity: 1;

    #powered-by {
      opacity: 1;
    }

    #modal {
      opacity: 1;
      transform: none;
      transition: 0.3s cubic-bezier(0.3, 1.5, 0.7, 1) transform;
    }
  }

  &.notopbar {
    #topbar {
      display: none!important;
    }

    .tab-content {
      top: 0;
    }

    #form-card {
      padding-top: 24px;
    }
  }

  &.emitab {
    #tab-emi {
      display: block;
    }
  }
}

#tab-emi {
  display: none;
}

#backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.font-loaded {
  #modal,
  button,
  input,
  select {
    font-family: $lato;
    font-feature-settings: "liga" 0;
  }

  #powered-by {
    visibility: visible;
    opacity: 1;
  }

  i {
    opacity: 1;
  }

  .iph {
    display: none;
  }

  #amount i {
    position: static;
  }
}

#modal {
  box-sizing: border-box;
  display: inline-block;
  transition: 0.3s ease-in;
  z-index: 1;
  perspective: 300;
  position: relative;
  opacity: 0;
  transform: scale(0.9);
  color: $col;
  font-size: $size;
  width: 344px;
  font-family: $font;
}

#content {
  text-align: left;
  white-space: normal;
}

#header {
  border-radius: $br $br 0 0;
  color: #fff;
  background: #fff;
  padding: $p;
  overflow: hidden;
  max-height: $headerh;
  position: relative;
  z-index: 3;

  &::before {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
  }
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.6;
  width: 24px;
  text-align: center;
  line-height: 26px;
  &:hover {
    opacity: 1;
  }
}

#logo {
  text-align: center;
  position: relative;
  padding: 8px;
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: $br;
  line-height: 62px;
  float: left;
  margin-right: $p;
  box-shadow: $bs;

  img {
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
  }
}

#merchant {
  white-space: nowrap;
  position: relative;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

#merchant-name {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
}

#merchant-desc {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 0.8;
}

#amount {
  font-size: 24px;
  margin-top: 10px;

  i {
    position: absolute;
  }
}

#powered-by {
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  bottom: 60px;
  display: block;
  font-size: 34px;
  transition: 0.3s;
  position: absolute;
  transition-delay: 0.2s;
  font-family: $lato;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  a {
    color: #bbb;
    line-height: 30px;
    transition: 0.3s;
    text-decoration: none;

    &:hover {
      color: #ddd;
    }
  }
}

#body {
  border-radius: 0 0 $br $br;
  height: $bodyh;
  background: #fff;
  backface-visibility: none;

  &.emi-focus {
    position: relative;
    z-index: 10;

    #form-fields {
      z-index: 2;
      background: transparent;
    }
  }

  &[screen=otp] {
    .otp-btn {
      opacity: 1;
    }
    .pay-btn {
      opacity: 0;
    }
  }
}

#body.sub, #container.one-method {
  #footer {
    pointer-events: auto;
    opacity: 1;
    transform: none;
  }
  #form-fields {
    border-radius: 0;
  }
}

#form,
#form-fields {
  height: 100%;
}

#form-fields {
  position: relative;
  z-index: 1;
  border-radius: 0 0 $br $br;
  background: #fff;
}

#topbar {
  display: none;
  cursor: pointer;
  background: $bg;
  line-height: $topbarh;
  border-bottom: 1px solid $bc;
  transition: 0.3s transform ease-in 0s, 0.3s opacity ease-in 0s, 0.1s color;
  color: #757575;
  position: absolute;
  left: 1px;
  right: 1px;
  height: $topbarh;
  z-index: 2;

  img {
    display: block;
    padding-top: 15px;
  }
}

#top-right {
  height: 100%;
  float: right;
}

#top-right,
#top-left {
  padding: 0 $p;
  transition: 0.2s;
}

#top-right:hover,
#top-left:hover {
  color: #404040;
}

$arrow-height = 10px;
$outline = #ddd;

#profile {
  position: absolute;
  background: #fff;
  border-radius: 2px;
  border: 1px solid $outline;
  top: $topbarh;
  right: 5px;
  margin-top: $arrow-height;
  display: none\9;
  pointer-events: none;
  opacity: 0;
  transition: 0.25s ease-in transform, 0.16s ease-in opacity;
  transform: translateY(-10px);

  li {
    list-style: none;
    padding: 10px;
    font-size: 14px;
    line-height: 19px;

    &:hover {
      background: #f5f5f5;
    }
  }

  li:first-child::before,
  li:first-child::after {
    content: '';
    top: - $arrow-height;
    right: 15px;
    position: absolute;
    border-width: 0 $arrow-height $arrow-height $arrow-height;
    border-color: transparent transparent $outline;
    border-style: solid;
  }

  li:first-child::after {
    margin-top: 1.5px;
    border-color: transparent transparent #fff;
  }

  li:first-child:hover::after {
    border-color: transparent transparent #f5f5f5;
  }
}

#top-right.logged.focus #profile {
  pointer-events: auto;
  display: block;
  opacity: 1;
  transform: none;
  transition: 0.2s cubic-bezier(0.6, 1.6, 0.8, 1) transform, 0.2s ease-out opacity;
}

#tab-title {
  font-size: 16px;
  line-height: $topbarh + 1px;
  height: $topbarh + 1px;
}

.back {
  float: left;
  margin: 0 6px 0 0;
  font-size: 10px;
}

.logged #user:after {
  content: "\e601";
}

#user {
  padding: 0 20px;
  margin: 0 -20px;
  display: none;
  float: right;
  font-size: 12px;
  white-space: nowrap;
  line-height: 46px;
  height: $topbarh;

  &::before {
    content: '\e602';
    font-size: 20px;
    margin-right: 6px;
  }
  &::after {
    // content: '\e601';
    font-size: 20px;
    margin-left: 6px;
  }
}

.tab-content {
  top: $topbarh + 1px;
  left: 0;
  width: 100%;
  bottom: 0;
  background: #fff;
  z-index: 4;
}

#form-common {
  padding: 20px 0 0;
  top: 0;
  bottom: 0;

  .legend {
    margin: 9px 0;
    margin-top: 20px;
  }
}

#footer {
  pointer-events: none;
}

#footer, .submit-button {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: - $footerh + 1px;
  width: 100%;
  border-radius: 0 0 $br $br;
  height: $footerh;
  line-height: $footerh + 1px;
  transition: 0.3s transform, 0.3s opacity;
  transform: translateY(-100%);
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.24);

  &::after {
    top: 0;
    content: '';
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s;
    opacity: 1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    pointer-events: none;
  }

  &:hover::after {
    opacity: 0;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

  .otp-btn {
    opacity: 0;
  }
}

.button {
  display: block;
  border: none;
  width: 100%;
  border-radius: 0 0 $br $br;
  font-size: 18px;
  padding: 0;
  line-height: 54px;
  color: #fff;
  transition: 0.2s;
  font-weight: bold;
  position: relative;

  &:active {
    box-shadow: 0 2px 10px -5px #000 inset;
  }
}

#form-card {
  i:not(.select-arrow) {
    display: none;
  }

  i.info {
    display: initial;
    font-size: 16px;
  }
  .select {
    display: none;
  }
}

.emi-method {
  #powered-by {
    bottom: 30px;
  }
}

#body.long {
  height: 374px;
  #payment-options {
    label {
      height: 77px;
    }
    i {
      margin: -12px 0 -6px;
    }
    .item:last-child {
      width: calc(33.33% - 1px);
    }
  }
}

#body[screen=card] #footer {
  z-index: 98;
}

#body[tab=emi] {
  height: 374px;

  #form-card {
    .elem-wrap {
      height: 62px;
    }
    .select {
      display: block;
      padding: 0;
      margin-top: 14px;
    }
  }
  #elem-emi {
    margin: 19px 0;
    display: block;
    .first {
      display: none;
    }
    .select {
      position: absolute;
      margin-top: -13px;
      left: 0;
      right: 98px;
    }
  }
  .save-enabled #add-card-container {
    height: 248px;
  }
  .saved-cards #saved-cards-container {
    max-height: 277px;
  }
  .saved-card:focus:not([emi]) .help {
    opacity: 1;
  }
}

.phone-print {
  white-space: nowrap;
}

#nocvv {
  display: none;
}

#view-emi-plans {
  cursor: pointer;
}

.legend {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
}

#payment-options {
  border-radius: 0 0 $br $br;
  border-top: 1px solid $bc;
  background: #fff;

  &.count-5 {
    border-bottom: none;
    .item {
      width: 33.33%;
      border-bottom: 1px solid $bc !important;
    }
  }

  .desc {
    display: none;
  }

  label {
    padding-top: 20px;
    height: 97px;
  }

  i {
    display: block;
    font-size: 40px;
    color: $pri;
    margin: 0 0 -4px;
    transition: 0.3s;
  }

  .item {
    border-bottom: none !important;
  }
  &.count-4 .item {
    width: 25%;
  }
}

.stackable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 $br $br;
  background: #fff;
}

#card-offer {
  position: absolute;
  bottom: 20px;
  pointer-events: none;
  font-size:12px;
}

.offer {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 20px;
  color: #fff;
  padding: 0 6px;
  font-size: 12px;
  &:before {
    display: block;
    border: 10px solid transparent;
    border-left-width: 8px;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: -16px;
  }
}

:checked + .radio-label .offer {
  bottom: -2px;
}

.offer-info {
  display: none;
  line-height: 20px;
  margin: 10px 0 0 20px;
  &.active {
    display: block;
  }
  li {
    list-style: none;
    &:first-child {
      margin-bottom: 4px;
      font-weight: bold;
    }
  }
}

.count-7 {
  ~.offer-info {
    display: none;
  }
}

.recurring-message {
  position: absolute;
  bottom: 24px;
}

#body[tab] #form-card.drishy .recurring-message {
  animation: none;
}

#container.one-method {
  .pay-btn {
    display: none;
  }
  #body.sub {
    .pay-btn {
      display: block;
    }
    .proceed-btn {
      display: none;
    }
  }
  #form-fields .legend, #payment-options {
    display: none;
  }

  #saved-cards-container {
    max-height: 156px;
  }
}

#container.no-details {
  #pad-common,
  #top-right {
    display: none;
  }
  #form-common {
    padding-top: 0;
    left: 20px;
    right: 20px;
    width: auto;
  }
  .desc {
    display: block;
    color: #777;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
  }
  .legend {
    text-align: left;
  }
  #payment-options {
    border: 1px solid #eee;
    border-radius: 2px;
    background: #f9fafb;
    label {
      padding: 12px 0;
      height: 56px;
      line-height: 16px;
    }
    .payment-option.item {
      width: auto;
      float: none;
      border: 0;
      text-align: left;
      i {
        float: left;
        font-size: 28px;
        margin: 0 16px;
        line-height: 30px;
      }
      &+.item {
        border-top: 1px solid $bc;
      }
    }
  }
}