@require 'common';

#otp-action {
  display: inline-block;
}

#otp-prompt {
  text-align: center;
  margin-bottom: 20px;
}

#otp-section {
  text-align: center;
}

#otp-elem {
  margin: 0 auto;
  width: 151px;
  position: relative;

  input#otp {
    text-align: center;
    box-sizing: border-box;
  }

  .help {
    left: 50%;
    transform: translateX(-50%);
    width: 120px;

    &::after {
      left: calc(50% + 8px);
    }
  }
}

#otp {
  font-size: 18px;
  line-height: 24px;
  padding: 11px 8px;
  letter-spacing: 8px;
  border: none;
  outline: none;
}

#otp-sec-outer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  &.compact {
    margin: 12px 0;
  }
}

#body[tab=wallet] #otp-sec {
  display: none;
}

.incorrect-otp {
  color: #e46e6e;
}

.add-funds {
  text-align: center;

  .btn {
    display: inline-block;
  }

  & + #otp-section {
    display: none;
  }
  & ~ #otp-sec-outer {
    display: none;
  }
}
