@import "common";

#tab-otp {
  padding-top: 40px;
  text-align: center;

  &.action {
    #otp-action {
      display: inline-block;
    }
  }

  &.action,
  &.loading {
    #otp-elem,
    #otp-sec {
      display: none;
    }
  }
}

#otp-action {
  display: none;
}

#otp-prompt {
  text-align: center;
  width: 240px;
  display: block;
  margin: 0 auto 20px;
  font-size: 14px;
  line-height: 20px;
}

#footer.otp {
  .otp-btn {
    display: block;
  }

  .pay-btn {
    display: none;
  }
}

#otp-elem {
  margin: 0 auto;
  width: 151px;
  position: relative;
}

#otp {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 13px;
  font-family: monospace;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 auto 20px;
  text-indent: 7px;
  padding: 11px 0;
  border: none;
  outline: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAuCAMAAAAFiil6AAAABlBMVEUAAADg4ODy8Xj7AAAAAXRSTlMAQObYZgAAABZJREFUeAFjoBoYBaNgFIwCRhSAXwIABzoAHRAAbMUAAAAASUVORK5CYII=");
}

#otp-sec {
  display: inline-block;
  margin-top: 5px;
  padding-bottom: 3px;
}

.incorrect-otp {
  color: #e46e6e;
}

.add-funds {
  display: none;
  padding-top: 50px;
  text-align: center;
  #add-funds-desc {
    margin-bottom: 15px;
  }
  .btn {
    display: inline-block;
  }
}
