@import "common";

#form-otp {
  padding-top: 40px;
  text-align: center;

  &.action {
    #otp-action {
      display: inline-block;
    }
  }

  &.action,
  &.loading {
    #otp-elem {
      display: none;
    }
    #otp-sec-outer {
      display: none;
    }
  }
}

#otp-action {
  display: none;
}

#otp-prompt {
  text-align: center;
  width: 240px;
  display: block;
  margin: 0 auto 20px;
  font-size: 14px;
  line-height: 20px;
}

#footer.otp {
  .otp-btn {
    display: block;
  }

  .pay-btn {
    display: none;
  }
}

#otp-elem {
  margin: 0 auto;
  width: 151px;
  position: relative;
  &::after {
    content: '';
    background: #fff;
    height: 100%;
    width: 10px;
    right: -5px;
    top: 0;
    display: block;
    position: absolute;
  }
}

#otp {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 13px;
  font-family: monospace;
  text-indent: 7px;
  padding: 11px 0;
  border: none;
  outline: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAuCAMAAAAFiil6AAAABlBMVEUAAADg4ODy8Xj7AAAAAXRSTlMAQObYZgAAABZJREFUeAFjoBoYBaNgFIwCRhSAXwIABzoAHRAAbMUAAAAASUVORK5CYII=");
  background-size: contain;
}

#otp-sec-outer {
  position: absolute;
  top: 200px;
  width: 100%;
  left: 0;
  text-align: center;
  a {
    display: inline-block;
    & + a {
      margin-left: 90px;
    }
  }
}

#otp-sec {
  display: none;
}

#form-card {
  #otp-sec {
    display: inline-block;
  }
}

.incorrect-otp {
  color: #e46e6e;
}

.add-funds {
  display: none;
  text-align: center;

  .btn {
    display: inline-block;
  }

  &.show {
    & + #otp-section {
      display: none;
    }
    & ~ #otp-sec-outer {
      display: none;
    }
  }
}
