@require 'common';

#error-message {
  border-radius: 0 0 $br $br;
  background: #fff;
  bottom: - $footerh;
  position: absolute;
  width: 100%;
  display: none;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.16);
  height: 150px;
  transition: 0.2s;
  padding-top: 20px;
  z-index: 100;

  &.drishy {
    height: 220px;
  }

  .link {
    display: none;
  }

  &.has-paypal {
    #fd-hide {
      display: none;
    }
  }

  &.loading {
    .link {
      display: inline-block;
    }
    .spin {
      display: block;
    }

    #fd-hide, #fd-paypal-container {
      display: none;
    }
  }
}

#fd-t {
  white-space: normal;
  padding: 20px 30px;
  padding-bottom: 10px;
  line-height: 22px;
}

#fd-hide {
  margin-top: 10px;
  border-radius: $br;
}

.error-cancel-btn-container {
  margin-top: 15px;
}

#fd-paypal {
  text-transform: initial;
}

#overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 11; // above cta
  &:empty {
    display: none;
  }

  > div {
    height: 100%;
    width: 100%;
    position: absolute;
    &:last-child {
      background: rgba(0,0,0,0.3);
    }
    > * {
      position: absolute;
      width: 100%;
      bottom: 0;
      background: #fff;
    }
  }
}

#container:not(.mobile) #overlay > div {
  border-radius: $br;
}