@require 'common';

#overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  bottom: - $footerh;
  z-index: 100;
  border-radius: $br;
  background: rgba(0, 0, 0, 0.3);
}

#error-message {
  border-radius: 0 0 $br $br;
  background: #fff;
  bottom: - $footerh;
  position: absolute;
  width: 100%;
  display: none;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.16);
  height: 150px;
  transition: 0.2s;
  padding-top: 20px;
  z-index: 100;

  &.drishy {
    height: 220px;
  }

  .link {
    display: none;
  }

  &.loading {
    .link {
      display: inline-block;
    }
    .spin {
      display: block;
    }

    #fd-hide {
      display: none;
    }
  }
}

#fd-t {
  white-space: normal;
  padding: 20px 30px;
  line-height: 22px;
}

#fd-hide {
  margin-top: 10px;
  border-radius: $br;
}
