@require 'common';

#form-upi {
  .input {
    padding: 12px 0 6px 0;
    box-sizing: border-box;
    opacity: 1;
  }
  .elem-wrap {
    height: auto;
  }
  p {
    line-height: 1.75;
  }

  .list {
    .checkbox {
      position: absolute;
      top: 18px;
      right: 6px;
    }

    .only-when-checked {
      color: rgba(81,89,120,0.54);
      font-size: 12px;
      margin-top: 4px;
    }

    .title {
      em {
        color: rgba(81,89,120,0.54);
      }
    }

    .radio-item {
      input:not(:checked) {
        &+ label {
          .only-when-checked {
            display: none;
          }
        }
      }

      input:checked {
        &+ label {
          .title,
          .placeholder {
            vertical-align: top;
          }
        }
      }

      .title,
      .placeholder {
        display: inline-block;
      }
    }

    i {
      position: absolute;
      display: block;
      top: 18px;
      left: 18px;
      font-size: 18px;

      & ~ div {
        margin-left: 36px;
      }
    }
  }

  /**
   * Applied when there are no UPI apps available
   * and the user needs to enter VPA
   */
  #upi-entry {
    .list {
      .item {
        position: relative;
        margin-bottom: 12px;
        box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.04);
        label {
          border-radius: 2px;
          border-color: $bc;
          background: transparent;
        }
      }
    }
  }

  /**
   * Applied when UPI apps are available
   */
  #upi-apps {
    .list {
      #upi-directpay {
        .elem.invalid.mature.focused {
          margin-bottom: 60px;
        }
        input.input {
          padding-top: 0px;
        }
        .placeholder {
          font-size: 20px
          text-align: center
          background-image: none
        }
      }
    }
  }

  &.collapsible {

    .item {

      &#upi-tez {

        .title {

          line-height: 30px;
        }

        label > i {

          top: 50%;
          transform: translate(0, -50%);
        }
      }

      .collapsed-only {

        display: block;
      }

      .collapsible-content {

        display: none;
      }

      &.expanded {

        &#upi-tez {

          .title {

            line-height: inherit;
          }

          label > i {

            top: 18px;
            transform: none;
          }
        }

        .collapsed-only {

          display: none;
        }

        .collapsible-content {

          display: block;
        }
      }
    }
  }

  &.show-tez {

    #upi-tez{

      display: block;
    }

    .checkbox {

      display: inline-block;
    }
  }

  .checkbox {

    display: none;
  }

  .upi-apps-img {

    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: auto;
    margin-right: 4px;
  }
}

#upi-tez{
  display: none;

  .tez-icon {
    background-repeat: norepeat;
    background-size: contain;
    background-image: url('https://cdn.razorpay.com/checkout/gpay.png');
    width: 34px;
    height: 34px;
    margin-left: -9px;
  }

  &.tez-mweb .desktop-only, &.tez-desktop .mweb-only {

    display: none !important;
  }

  .collect-form {

    display: table;
    width: 100%;
    box-sizing: border-box;

    div.elem {

      display: table-cell;
      width: 50%;
      box-sizing: border-box;

      &.at-separator {

        width: 1px;
        padding: 0 8px;
        color: rgba(64,70,101,0.7);
        border-bottom: none;
      }
    }
  }
}
#body.upi-noapp {
  #upi-intent {
    display: none;
  }

  #upi-directpay .checkbox {
    display: none;
  }
}

#cancel_upi {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: inherit;

  p {
    margin: 20px;
    font-weight: bold;
    text-align: left;
  }

  label {
    text-align: left;
    padding: 7px 0 7px 50px;
    display: block;
    position: relative;
  }

  input[type=radio] {
    display: inline;
    position: absolute;
    left: 20px;
  }

  .buttons {
    margin: 10px 20px 0;
    text-align: right;
  }
  .back-btn {
    margin-right: 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
  }
}

#error-message.cancel_upi {
  height: 260px;
  overflow: hidden;

  #cancel_upi {
    display: block;
  }
}
