.container {
  display: flex;
  flex-direction: column;
}

.selectContainer {
  display: flex;
  margin-bottom: 8px;
}

.column {
  flex: 1;
}

.countrySelect {
  margin-right: 8px;
}
.optionsBox {
  height: 290px;
  overflow: scroll;
}

.accordianContainer {
  margin-bottom: 20px;
}
