<div class="modal ow-closed">
    <div class="header">
    	<div class="merchant_image">
    		<img src="${image}">
    	</div>
        <div class="merchant_powered"></div>
    	<div class="merchant_name">
    		${name}
            <br>
            ${description}
    	</div>
    	<div class="clear">
    </div>
    <hr>
    <form class="body" method="POST">
    	<input type="hidden" name="amount" value="${amount}">
        <input type="hidden" name="key" value="${key}">
        <input type="hidden" name="currency" value="INR">
    	<input name="card[name]" placeholder="Name" required>
    	<input name="udf[email]" type="email" placeholder="Email Address" required>
        <input name="udf[contact]" type="tel" placeholder="Contact Number" required>
    	<div class="card">
    		<input name="card[number]" class="card_number" placeholder="Card Number" maxlength="19" required>
            <span class="card_image"></span>
    		<input name="card[expiry]" size="2" placeholder="MM / YY" required>
    		<input name="card[cvv]" size="3" placeholder="CVV" maxlength="4" required>
    	</div>
        <button class="submit">
            <span class="ring"></span>
            <span class="text">Pay ₹${amount}</span>
        </button>
        <ul class="error_box">
            
        </ul>
    </div>
</div>
<br>