.emi-plans-list
  margin-left: -12px
  margin-right: -12px

  .expandable-card--expanded
    .expandable-card-detail
      max-height: 64px;

#form-emiplans
  .callout
    bottom: 0 !important;
    cursor: pointer;
    pointer-events: all;

    span.theme-highlight
      position: unset;
