.container {
  display: flex;
  min-height: 300px;
  max-height: 600px;
  position: relative;
}

.screen {
  width: 400px;
  max-height: 500px;
  overflow: scroll;
  padding: 20px 20px 0px;
}

.activeLabel {
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #dedede;
  padding-bottom: 6px;
  margin-bottom: 20px;
}

.inactive {
  opacity: 0.5;
}

.clickBlocker {
  cursor: not-allowed;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.toggleBar {
  position: relative;
}

.logo {
  position: absolute;
  left: 20px;
  bottom: 7px;
  height: 20px;
  z-index: 2;
}
