@import common


@keyframes spring
  0%
    transform: translateY(-70px)
  4.7%
    transform: translateY(-38.522px)
  9.41%
    transform: translateY(-8.158px)
  14.11%
    transform: translateY(9.864px)
  18.72%
    transform: translateY(14.848px)
  24.32%
    transform: translateY(10.538px)
  29.93%
    transform: translateY(3.331px)
  35.54%
    transform: translateY(-1.44px)
  41.04%
    transform: translateY(-2.742px)
  52.15%
    transform: translateY(-0.615px)
  63.26%
    transform: translateY(0.507px)
  85.49%
    transform: translateY(-0.094px)
  100%
    transform: translateY(0px)

$first: .2s;
$second: .2s;
$springTime: 1s;
$gridStagger: .05s;

.showable
  position: absolute;
  display: none;
  opacity: 0;
  transition: .2s;
  backface-visibility: none;
  width: 100%;

  &.shown
    position: relative;
    opacity: 1;

#tab-netbanking .select
  opacity: 0;
  transition: $first;

#topbar
  transform: translateY(-$topbarh);
  &.shown
    transform: translateY(0);
    transition: $first transform ease-out $first, $first opacity ease-out $first, .1s color;

#form-common
  .pad
    transform: none;
    transition: none;

  .legend, #payment-options
    transition: $springTime;

#form-common.not-first .pad
    animation: $springTime spring;

.tab-content.shown
  transition-delay: $second;

#footer.shown
  transition-delay: $second;
  transform: none;

#body.tab
  #form-common
    .pad
      transition: $first;

    .legend, #payment-options
      opacity: 0;
      transition: $first;

  #tab-card.shown .pad
    animation: $springTime spring;
    animation-delay: $second;

  #tab-netbanking .select
    transition: $first;
    transition-delay: $second + $gridStagger*6 +$gridStagger;
    opacity: 1;

.item-inner
  position: relative;
  transition: .2s;
  transform: scale(0)

.tab-content.shown .item-inner
  transform: scale(1)

@for $i from 1 through 4
  .l-#{$i}
    transition-delay: $gridStagger*$i + $second;

