@import "common";

body {
  &.noimage {
    #overlay:after{
      content: none;
    }
  }
}

#overlay, #emi-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
}

.showable {
  transition: 0.2s ease-out;
  display: none;
  opacity: 0;

  &.shown{
    opacity: 1;
  }
}

#overlay{
  .background(rgba(0, 0, 0, 0.3));

  &:after{
    content: '';
    position: absolute;
    left: @padding;
    top: -12px;
    height: 12px;
    width: 86px;
    background: inherit;
    filter: inherit;
    -ms-filter: inherit;
  }
}

#error-message {
  height: 150px;
  padding-top: 20px;
  bottom: 0;
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 9;

  &.shown{
    height: 180px;
  }

  &.loading{
    .spin{
      display: block;
    }
    #fd-hide{
      display: none;
    }
  }
}

#fd-t{
  white-space: normal;
  padding: 20px 30px;
  line-height: 22px;
}
#fd-hide{
  text-spacing: 0.5px;
  border-radius: 2px;
  line-height: 40px;
  font-weight: bold;
  padding: 0 18px;
}
.mfix{
  .mfix();
}
.mchild{
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
}
a{
  color: inherit;
  cursor: pointer;
}
u{
  text-decoration: none;
}
i{
  font-style: normal;
  display: none;
}
.clear{
  .clearfix();
}
#nb-na {
  text-align: center;
  div{
    color: @danger;
  }
  a{
    cursor: pointer;
    border-bottom: 1px solid @primary;
    font-size: 12px;
    color: @primary;
    position: relative;
    top: 6px;
  }
}

body, html{
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
iframe{
  display: none;
}
#backdrop{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: none;
}

#container{
  height: 100%;
  outline: none;
  text-align: center;
  transition: 0.25s ease-out opacity;
  z-index: 19999;

  &.animate{
    #modal{
      transition: 0.25s ease-in;
    }
  }

  &.shown{
    opacity: 1;
    #powered-by{
      opacity: 1;
    }
    #modal{
      opacity: 1;
      transform: none;
      transition: 0.25s cubic-bezier(0.3, 1.5, 0.7, 1) transform;
    }
  }
}
.font-loaded{
  #modal, button, input, select {
    font-family: @font-family;
    font-feature-settings: "liga" 0;
  }
  #powered-by{
    visibility: visible;
    opacity: 1;
  }
  i{
    display: inline-block;
  }
  u{
    display: none;
  }
}
#modal{
  z-index: 1;
  perspective: 300;
  outline: none;
  position: relative;
  margin: 20px 0;
  opacity: 0;
  transform: scale(0.9);
  color: @color;
  font-size: @font-size;
  width: @width;
  font-family: @font-default;
  box-shadow: 0 0 6px 0px rgba(0,0,0, 0.15);
}
#modal-content{
  padding: 0 @padding;
  min-height: 486px;
}
#modal-inner{
  position: relative;
  // border-radius: @border-radius;
  background: @background-color;
  &.anim{
    transition: 0.15s ease-out;
  }
}
/* Default class for an overlay */
#header{
  padding-top: 12px;
  height: 48px;
  text-align: left;
}
.merchant{
  overflow: hidden;
  max-height: 66px;
}
.merchant-image{
  float: left;
  height: 72px;
  width: 72px;
  display: block;
  margin: -24px 16px 0 0;
  text-align: center;
  line-height: 88px;
}
.merchant-image img{
  max-width: 100%;
  max-height: 100%;
}
.merchant-name{
  vertical-align: middle;
  display: inline-block;
}
.merchant-title, .merchant-desc{
  font-size: 18px;
  line-height: 22px;
  color: #555;
}
.merchant-title + .merchant-desc{
  font-size: 14px;
  line-height: 17px;
  color: #999;
  text-transform: none;
  margin-top: 5px;
  max-height: 34px;
}
#modal-close{
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  font-size: 24px;
  line-height: 30px;
  cursor: pointer;
  z-index: 7;
  text-align: center;
  &:hover{
    color: #333;
  }
}
.rupee-icon:before{
  content: "\e600";
}
.clear{
  clear:both;
}
#body{
  text-align: left;
  padding: 3px 0;
  clear: both;
}
#nocvv{
  position: absolute;
  white-space: nowrap;
  top: 100%;
  left: 7px;
  margin-top: 10px;
  opacity: 0;
  color: #666;
  line-height: 20px;
  overflow: hidden;
  display: block;
  transition: 0.3s;
  height: 0;
  .checkbox{
    margin-right: 12px;
  }
}
#elem-card{
  i{
    font-size: 0;
  }
  .card-image{
    transition: 0.2s opacity;
    background: url('../images/cards.png') no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    margin-top: 2px;
    top: 50%;
    background-size: 600%;
    opacity: 1;
  }

  &[cardtype=unknown]{
    .card-image{
      opacity: 0;
      display: none\9;
    }
    i{
      font-size: 30px;
    }
  }

  &[cardtype=mastercard] .card-image{
    background-position: 20% 0;
  }
  &[cardtype^=maestro] .card-image{
    background-position: 40% 0;
  }
  &[cardtype=diners] .card-image{
    background-position: 60% 0;
  }
  &[cardtype=rupay] .card-image{
    background-position: 80% 0;
  }
  &[cardtype=amex] .card-image{
    background-position: 100% 0;
  }

  &.six[cardtype=maestro]{
    margin-bottom: 26px;
    #nocvv{
      opacity: 1;
      height: 22px;
    }
  }
}
#expiry-cvv{
  transition: 0.3s;
  height: 50px;
  position: relative;

  &.hidden{
    opacity: 0;
    height: 0;
    display: none\9;
    &:before{
      content: none\9;
      content: '';
      position: absolute;
      width: 100%;
      height: 66px;
      z-index: 1;
    }
  }
}
#cardsave{
  width: 15px;
  -webkit-appearance: checkbox;
  vertical-align: middle;
  margin: 0 15px 0 17px;
}

#submitbtn{
  font-size: 18px;
  padding: 0;
  margin: 0;
  line-height: @submit-height;
  width: 100%;
}
.tab-content{
  display: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
.tab-content.active{
  display: block;
}
#tab-wallet{
  padding-top: 4px;
}

@inner: @width - 2*@padding;

#tabs{
  padding: 0;
  font-size: 0;
  letter-spacing: -4px;
  white-space: nowrap;
  display: block;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  margin: 16px -10px 6px;
  border-bottom: 1px solid @border-color;
  line-height: 48px;

  &.tabs-1{
    display: none;
  }

  &.tabs-3{
    li, #tab-bar{
      width: 33.33%;
    }
    &[active="1"] #tab-bar{
      left: 33.33%;
    }
    &[active="2"] #tab-bar{
      left: 66.66%;
    }
  }

  &.tabs-2{
    &[active="1"] #tab-bar{
      left: 50%;
    }
  }
  li{
    list-style: none;
    margin: 0;
    text-align: center;
    width: 50%;
    font-size: @font-size;
    letter-spacing: 0;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: #555;

    &:hover{
      color: #333;
    }
  }

  &[active="1"] li:nth-child(1),
  &[active="2"] li:nth-child(2){
    color: #111;
  }
}
#tab-bar{
  width: 50%;
  position: absolute;
  left: 0;
  bottom: -1px;
  background: @primary;
  height: 3px;
  transition: 0.3s;
  z-index: 1;
}
#form{
  margin: 0;
  padding-bottom: 52px;
  display: block;
}
#form-common .mchild{
  width: 100%;
}
#methods-specific-fields .mchild{
  width: 100%;
  min-height: 240px;
}
#footer{
  bottom: 0;
  z-index: 2;
  width: 100%;
  position: absolute;
  margin: 0 -@padding;
}
#powered-by{
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  bottom: -60px;
  display: block;
  font-size: 36px;
  transition: 0.3s;
  position: absolute;
  transition-delay: 0.2s;
  font-family: @font-family;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  
  a{
    color: #bbb;
    outline: none;
    line-height: 36px;
    transition: 0.3s;
    text-decoration: none;
    &:hover{
      color: #ddd;
    }
  }
}

.spin{
  display: none;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: -60px;
  position: relative;
  top: 20px
}
.spin div{
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  border: 4px solid #29b7d6;
  animation: spin 1.3s linear infinite;
  box-sizing:border-box;
  opacity: 0
}
#spin2{
  margin-bottom: 10px;
  div{
    animation-delay: 0.65s;
  }
}
@keyframes spin {
  0%{transform:scale(0.5);opacity:0;border-width:8px;}
  20%{transform:scale(0.6);opacity:0.8;border-width:4px;}
  90%{transform:scale(1);opacity:0;}
}