@import common

.clear
  clear: both;

.mfix
  white-space: nowrap;

  &:after
    content: '';
    height: 96%;
    display: inline-block;
    width: 0;
    vertical-align: middle;

body, html
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;

.double
  width: 100%;
  font-size: 0;
  .second
    text-align: right;
  .first, .second
    font-size: $size;
    width: 50%;
    display: inline-block;

.pad
  padding: 0 24px;
  box-sizing: border-box;

.grid
  text-align: center;
  font-size: 0;

  .item
    cursor: pointer;
    width: 33.33%;
    height: 86px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid $bc;
    margin: -1px 0 0 -1px;
    font-size: $size;
    transition: .2s;
    vertical-align: top;
    &:hover
      background: $bg;

  label
    cursor: inherit;
    height: 100%;
    display: block;

  img
    height: 24px;
    margin-bottom: 3px;

.link
  text-decoration: underline;
  cursor: pointer

#modal .link.grey
  color: #757575;

.mchild
  vertical-align: middle;
  display: inline-block;
  white-space: normal;

a
  color: inherit;
  cursor: pointer;
  text-decoration: none;

i
  font-style: normal;
  opacity: 0;

.spin
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: -60px;
  position: relative;
  top: 20px;

.spin div
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  border: 4px solid #29b7d6;
  animation: spin 1.3s linear infinite;
  box-sizing: border-box;
  opacity: 0

.spin2
  margin-bottom: 10px;
  div
    animation-delay: 0.65s;

@keyframes spin
  0%
    transform: scale(0.5);
    opacity: 0;
    border-width: 8px;
  20%
    transform: scale(0.6);
    opacity: 0.8;
    border-width: 4px;
  90%
    transform: scale(1);
    opacity: 0;

.spinners
  display: none;

.loading .spinners
  display: block;

#container
  height: 100%;
  outline: none;
  text-align: center;
  transition: 0.3s ease-out opacity;
  z-index: 19999;

  &.shown
    opacity: 1;

    #powered-by
      opacity: 1;

    #modal
      opacity: 1;
      transform: none;
      transition: 0.3s cubic-bezier(0.3, 1.5, 0.7, 1) transform;

.font-loaded
  #modal, button, input, select
    font-family: $lato;
    font-feature-settings: 'liga' 0;

  #powered-by
    visibility: visible;
    opacity: 1;

  i
    opacity: 1;

  .iph
    display: none;

  #amount i
    position: static;

#modal
  display: inline-block;
  transition: 0.3s ease-in;
  z-index: 1;
  perspective: 300;
  outline: none;
  position: relative;
  opacity: 0;
  transform: scale(0.9);
  color: $col;
  font-size: $size;
  width: 344px;
  font-family: $font;
  box-shadow: 0 4px 14px 0 rgba(0,0,0,.24);

#error-message
  display: none;

#content
  text-align: left;
  position: relative;
  white-space: normal;

#header
  border-radius: $br $br 0 0;
  color: #fff;
  padding: $p;
  position: relative;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.11) inset;

  &:before
    content: '';
    +cover();
    background: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.16));

.close
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.6;

#logo
  text-align: center;
  position: relative;
  padding: 10px;
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: $br;
  line-height: 62px;
  float: left;
  margin-right: $p;
  box-shadow: $bs;

  img
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;

#merchant
  position: relative;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12);

#merchant-name
  font-size: 20px;

#merchant-desc
  opacity: 0.8;

#amount
  font-size: 24px;
  margin-top: 14px;
  i
    position: absolute;

#powered-by
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  bottom: -60px;
  display: block;
  font-size: 36px;
  transition: 0.3s;
  position: absolute;
  transition-delay: 0.2s;
  font-family: $lato;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  a
    color: #bbb;
    outline: none;
    line-height: 36px;
    transition: 0.3s;
    text-decoration: none;
    &:hover
      color: #ddd;

#body
  background: #fff;
  border-radius: 0 0 $br $br;
  position: relative;
  min-height: 372px;
  box-sizing: border-box;

#topbar
  top: 0;
  cursor: pointer;
  position: absolute;
  background: $bg;
  display: none;
  left: 0;
  right: 0;
  padding: 0 $p;
  line-height: $topbarh;
  border-bottom: 1px solid $bc;
  transition: .3s;

.back
  float: left;
  margin: -1px 6px 0 0;
  font-size: 12px;

#tab-title
  font-size: 16px;

#user
  display: none;
  float: right;
  font-size: 12px;

#otp-form, .tab-content, #form
  display: none;

#modal .shown
  display: block;

#form-common
  padding: 20px 0 0;
  .legend
    margin: 10px 0;

#body.tab
  padding-top: $topbarh;

  #form-common
    display: none;

  .footer
    button
      opacity: 1;
      transition-delay: 0.15s;
      pointer-events: auto;
    .footer-desc
      color: #fff;
      opacity: 0;
      transition-delay: 0s;

  #topbar
    display: block;

.footer
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0 0 $br $br;
  background: #fafbfc;
  box-shadow: 0 1px 8px rgba(0,0,0,0.14) inset;
  color: #777;
  transition: 0.3s;
  button
    cursor: pointer;
    pointer-events: none;
    position: relative;
    opacity: 0;
    transition: 0.2s;

.footer-desc
  transition: 0.2s;
  transition-delay: 0.15s;
  position: absolute;
  pointer-events: none;
  width: 100%;

.loading .footer
  display: none;

.button
  display: block;
  border: none;
  width: 100%;
  border-radius: 0 0 $br $br;
  font-size: 18px;
  padding: 0;
  line-height: 54px;
  width: 100%;
  color: #fff;
  transition: .2s;
  font-weight: bold
  position: relative;

  &:active
    box-shadow: 0 2px 10px -5px #000 inset;

#tab-card
  i
    display: none;

#nocvv
  display: none;

.legend
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  padding: 10px 0;

#payment-options
  i
    display: block;
    font-size: 40px;
    color: $pri;
    margin: 12px 0 -4px;
    transition: 0.3s;

  .payment-option
    height: 106px;