@import common

#otp-form
  margin-top: 20px;
  &.otp
    #otp
      display: block;

#otp-prompt
  text-align: center;
  width: 240px;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;

#otp
  display: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 13px;
  font-family: monospace;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
  margin: 30px auto;
  text-indent: 7px;
  padding: 11px 0;
  border: none;
  outline: none;
  background: url(/images/otp_bg.png);