@import common

#modal.sub
  #otp-elem
      display: block;

#tab-otp
  padding-top: 40px;
  text-align: center;
  &.error
    #otp-action
      display: inline-block;

#otp-action
  display: none;

#otp-prompt
  text-align: center;
  width: 240px;
  display: block;
  margin: 0 auto 30px;
  font-size: 14px;
  line-height: 20px;

#footer.otp
  .otp-btn
    display: block;
  .pay-btn
    display: none;

#otp-elem
  display: none;
  margin: 0 auto;
  width: 150px;

#otp
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 13px;
  font-family: monospace;
  border-radius: 6px;
  overflow: hidden;
  margin: 30px auto 15px;
  text-indent: 7px;
  padding: 11px 0;
  border: none;
  outline: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAuCAMAAAAFiil6AAAABlBMVEUAAADg4ODy8Xj7AAAAAXRSTlMAQObYZgAAABZJREFUeAFjoBoYBaNgFIwCRhSAXwIABzoAHRAAbMUAAAAASUVORK5CYII=');

#resend-action
  display: none;
  a
    font-size: 12px;
    color: #0FA5DC;
    margin-top: 5px;
    border-bottom: 1px solid;
    padding-bottom: 3px;

#add-funds
  display: none;
  padding-top: 50px;
  text-align: center;

  #add-funds-desc
    margin-bottom: 15px;

  .btn
    display: inline-block;
