@import "common";

@max-width: 414px;
@padding: 22px;

.mobile{
  max-width: @max-width;
  margin: 0 auto;

  &:after{
    content: none;
  }

  .shake{
    animation:none;
  }
  #emi-container{
    width: 100%;
    left: 0;
    top: auto;
    bottom: 0;
    transform: translateY(10%);

    &.shown{
      transform: none;
    }
    .col{
      white-space: normal;
    }
  }
  .lh-34{
    line-height: 34px;
  }
  .lh-17{
    line-height: 17px;
  }
  #backdrop{
    background: none!important;
  }
  #header{
    padding-top: 20px;
  }
  #modal-content{
    padding: 0 @padding;
    min-height: 510px;
  }
  #modal{
    background: @background-color;
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transform: translateY(10%) scale(0.9);
  }
  #modal-inner{
    position: static;
  }
  &.shown #modal{
    transition: 0.3s ease-out all;
    transform: none;
  }
  #powered-by{
    position: absolute;
    top: 10px;
    visibility: hidden!important;
    bottom: auto;
    z-index: -1;
    pointer-events: none;
  }
  .merchant-image{
    margin-top: 0;
  }
  .merchant{
    margin-top: 12px;
  }
  #footer{
    margin: 0 -@padding;
  }

  @media(min-height: 525px){
    .input {
      padding-bottom: 10px;
      padding-top: 26px;
    }
  }
  @media(min-height: 550px){
    .input {
      padding-bottom: 12px;
      padding-top: 28px;
    }
    #tabs{
      margin-top: 20px;
      line-height: 52px;
    }
  }
  @media(min-height: 575px){
    .input {
      padding-bottom: 14px;
      padding-top: 30px;
    }
  }
  @media(min-height: 600px){
    .input {
      padding-bottom: 16px;
      padding-top: 32px;
    }
    #tabs{
      margin-top: 24px;
      line-height: 56px;
    }
  }
}
.ip{
  #tab-bar{
    display: none;
  }
  #tabs{
    li{
      top: 1px;
      &.active{
        border-bottom: 3px solid @primary;
      }
    }
  }
}