@font-default: ubuntu, helvetica, sans-serif;
@font-family: 'lato', @font-default;

@primary: rgb(128, 88, 165);
@primary: #00BCD4;

@color: #666;
@border-color: #eaeaea;
@border-dark: #d9d9d9;
@background-color: #fcfbfa;
@danger: #f46060;
@border-radius: 0;

@width: 323px;
@padding: 26px;

@font-size: 14px;

// input elements horizontal padding
@input-padding: 16px;
@input-height: 48px;
@icon-size: 30px; // input fields icons

@submit-height: 54px;