/* Default class for an overlay */
.ow-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #424242;
  opacity: 0.8;
}

/* Default class for both hidden overlay and modal window */
.ow-closed {
  display: none;
}

/* Default class for modal window */
.modal {
  position: fixed;
  z-index: 20;
  left: 50%;
  top: 50px;
  width: 500px;
  background-color: #fff;
  border-radius: 5px;
  background:#EDEDED;
  font-family: 'Lato', Sans-serif;
  box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.75);
  min-height: 300px;
}
.modal hr{
  border-color:#D9D9D9;
  background-color:#D9D9D9;
  color:#D9D9D9;
}
.merchant_image{
  margin:5px 0px 0px 5px;
  float:left;
  width:60px;
}
.merchant_name{
  margin:0 auto;
  font-size: 13px;
  padding-top: 10px;
  width:145px;
  font-weight: 400;
  text-transform: capitalize;
  float:none;
  text-align: center;
}
.merchant_powered{
  float:right;
  margin-right: 10px;
  width:100px;
  margin-top:10px;
  background-image:url('../images/powered_by_rzp.jpg');
  min-height: 30px;
}
.clear{
  clear:both;
}
form.body{
  margin:0 auto;
  width:350px;
}
form.body .card_image{
  float:right;
  width:26px;
  height:7px;
  margin-top: -20px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: right center;
}
.card_image.visa{
  background-image: url('../images/icons/visa.png');
}
.card_image.mastercard{
  background-image: url('../images/icons/mastercard.png');
}
.card_image.maestro{
  background-image: url('../images/icons/maestro.png');
}
.card_image.rupay{
  background-image: url('../images/icons/rupay.png');
}
form input{
  color:#28B3D2;
  border:none;
  background: #EDEDED;
  font-size:15px;
  height:30px;
  font-family: 'Lato',Sans-serif;
  padding-left: 7px;
  padding-top:7px;
  padding-bottom:7px;
  outline:none;
  margin:0px;
  box-sizing: border-box;
}
form input[name="card[number]"].invalid{
  border:1px solid #FB797E;
  border-width: 1px 1px 0px 1px;
}
form .card{
  margin-top: 10px;
  border-radius:3px;
  width:350px;
}
form input[name="card[name]"], form input[name="udf[email]"], form input[name="udf[contact]"]{
  margin-top:3px;
  padding-bottom:3px;
  border-bottom:1px solid #727272;
  width:100%;
}
form input[name="card[number]"]{
  width:100%;
  border-bottom: 1px solid #727272;
  background: url('../images/icons/card.png');
  background-repeat: no-repeat;
  padding-left:35px;
  background-position: 5px 8px;
  border:1px solid #727272;
  border-radius:3px 3px 0px 0px;
  border-bottom:0px;
}
form input[name="card[expiry]"]{
  background: url('../images/icons/calendar.png');
  background-repeat: no-repeat;
  padding-left:35px;
  background-position: 7px 6px;
  width:175px;
  border-right:5px solid #727272;
  border:1px solid #727272;
  border-radius:0px 0px 0px 3px;
}
form input[name="card[expiry]"].invalid{
  border:1px solid #FB797E;
  border-bottom:0px;
}
/** All sibling inputs of an invalid card number **/
form input[name="card[number]"].invalid ~ input{
  border-top:1px solid #FB797E;
}
form input[name="card[expiry]"].invalid{
  border:1px solid #FB797E;
}
form input[name="card[expiry]"].invalid ~ input{
  border-left: 0px !important;
}
form input[name="card[cvv]"].invalid{
  border:1px solid #FB797E;
}
form input[name="card[cvv]"]{
  background: url('../images/icons/lock.png');
  background-repeat: no-repeat;
  padding-left:32px;
  background-position: 3px 6px;
  border:1px solid #727272;
  border-radius: 0px 0px 3px 0px;
  left: 249px;  
  position: absolute;
  width: 176px;
}
form .submit{
  background-color:#28B3D2;
  color:white;
  width:100%;
  padding:0 auto;
  border-radius: 3px;
  margin-top:20px;
  height:40px;
  font-size: 20px;
  text-align: center;
  border: none;
}
form .submit[disabled=disabled] .ring{
  display:inline-block;
}
form .submit[disabled=disabled] .text{
  display:none;
}
form .submit.error{
  background-color:#FB797E;
}
.ring {
    border: 1px solid white;
    border-radius: 30px;
    height: 18px;
    width: 18px;
    display:none;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
    left:50px;
    top:-5px;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
.error_box{
  color: #FB797E;
  text-align:center;
  font-size: 12px;
  list-style-type: none;
  padding: 0px;
}
.modal iframe{
  border: none;
  border-radius: 5px;
}