server {
    listen 80;
    {% if env != 'prod' %}
    server_name {{ env }}-checkout.razorpay.in;
    {% else %}
    server_name checkout.razorpay.com;
    {% endif %}
    set $checkout_root_location "/app/dist/";
    set $checkout_v1_location "/app/dist/v1";
    {% if env == 'dev' %}
    set $checkout_root_location "/checkout/app/dist/";
    set $checkout_v1_location "/checkout/app/dist/v1";
    {% endif %}
    root "$checkout_root_location";

    index index.php;

    charset utf-8;

    location / {
        alias $checkout_root_location;
    }

    access_log /var/log/nginx/NGINX_HOST-{{ env }}-checkout-access.log combined;
    error_log  /var/log/nginx/NGINX_HOST-{{ env }}-checkout-error.log error;

    sendfile off;

    client_max_body_size 100m;

    #location ~ /\.ht {
    #    deny all;
    #}
}
