<div class="confirm">
  <div class="heading">
    `=_.heading || 'Confirm'`
  </div>
  <div class="message">
    `=_.message`
  </div>
  <div class="buttons">
    <div id='positiveBtn' class="text-btn">
      `=_.positiveBtnTxt || 'Ok'`
    </div>
    <div id='negativeBtn' class="text-btn">
      `=_.negativeBtnTxt || 'Cancel'`
    </div>
  </div>
</div>