<div class="copytoclipboard--container">
  <button class="copytoclipboard--btn" type="button">
    <span class="copytoclipboard--icon">&#xe70f;</span>
    <span class="copytoclipboard--check">&checkmark;</span>
    <span class="copytoclipboard--label">`=_.btnText || 'Copy'`</span>
  </button>
  <div class="copytoclipboard--text">
    `=_.content`
  </div>
</div>
