<div class="curtain-container">
  <div class="curtain-header-container">
    <h3 class="curtain-header">
      `=_.heading`
    </h3>
    `?_.showClose`
      <span class="close curtain-close">×</span>
    `?`
  </div>
  <div class="curtain-content-container">
    <div class="curtain-content">
      `=_.content`
    </div>
  </div>
</div>
