<div class="offers-list-container">
  <div class="offers-list-title">
    <span class="align-left">SELECT AN OFFER</span>
  </div>
  <ul class="offers-list list"></ul>
  <button class="button apply-offer" type="button">
    Apply Offer
  </button>
</div>
