<li class="offer item">
  <div class="offer-title">
    <div class="offer-name left-align">`=_.name`</div>
    <div class="toggle-offer right-align">
      <span class="checkbox"></span>
    </div>
  </div>
  <div class="offer-details">
    <div class="discount-details">
      You save a total of `=_.discount`
    </div>
    <div class="offer-desc">
      `=_.description`
    </div>
    <div class="remove-offer">
      Remove Offer
    </div>
  </div>
</li>
