@import "common";

@primary: #29b3d2;
@color: #7f7f7f;
@border-color: #e6e6e6;
@background-color: #fafafa;
@danger: #f46060;

@width: 320px;
@padding: 20px;

@font-size: 14px;
// input elements horizontal padding
@input-padding: 14px;

.clear{
  .clearfix();
}
.nb-na {
  text-align: center;
  div{
    color: @danger;
  }
  a{
    cursor: pointer;
    border-bottom: 1px solid @primary;
    font-size: 12px;
    color: @primary;
    position: relative;
    top: 6px;
  }
}

body{
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
}

.container{
  height: 100%;
  text-align: center;
  opacity: 0;
  background: rgba(0,0,0,0.6);
  .transition(0.25s ease-out opacity);
  z-index: 19999;
  .middlefix();
  &.shown{
    opacity: 1;
    .modal{
      opacity: 1;
      .scale(1);
      .transition-transform(0.25s cubic-bezier(0.3, 1.5, 0.7, 1));
    }
  }
}
label{
  vertical-align: middle;
}
button, input, select, textarea{
  border: none;
  background: none;
  font-family: inherit;
}
input, select, textarea{
  color: inherit;
  line-height: inherit;
  height: inherit;
  border-radius: inherit;
  font-size: 14px;
  resize: none;
  width: 100%;
  display: block;
  padding: 0 @input-padding;
  margin: 0 -@input-padding;
  background: none;
  position: relative;
}
input[type=radio]{
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0 5px 0 0;
  vertical-align: middle;
}
button{
  padding: 0;
  border-radius: 0 0 2px 2px;
  background: @primary no-repeat 12px center;
  line-height: 52px;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 0 2px rgba(0,0,0,0.4) inset;
  width: 100%;
  cursor: pointer;
  &[disabled]{
    background-image: url('../images/loaders/2.gif');
    background-size: 16px;
    opacity: 0.7;
  }
}
.modal{
  outline: none;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  margin: 20px 0;
  overflow: hidden;
  opacity: 0;
  .transform(scale(0.9));
  &.animate{
    .transition(0.25s ease-in)!important;
  }

  color: @color;
  font-size: @font-size;
  width: @width;
  border-radius: 5px;
  background: @background-color;
  font-family: 'Lato', Sans-serif;
  box-shadow: 0 0 6px 0px rgba(0,0,0, 0.15);
  min-height: 375px;
}
.modal-inner{
  .transition(0.15s ease-out opacity);
}
.elem{
  height: 40px;
  line-height: 40px;
  border: 1px solid @border-color;
  background: #fff;
  position: relative;
  margin-bottom: -1px;
  cursor: text;
  .transition(0.25s border-color);
  background: #fff center right no-repeat;

  &.focused{
    border-color: @primary;
    color: black;
    z-index: 1;
  }
  &.mature.invalid{
    color: @danger;
    box-shadow: 0 0 1px @danger inset;
    &.focused{
      border-color: @danger;
    }
  }
}
.select:not(.filled){
  .input{
    opacity: 0;
  }
  .elem-inner:before{
    content: 'Select Bank';
    position: absolute;
    top: 1px;
  }
}
.elem-inner{
  margin: 0 @input-padding;
  height: inherit;
  line-height: inherit;
  border-radius: inherit;
}
.help-text{
  color: #fff;
  pointer-events: none;
  z-index: 2;
  position: absolute;
  max-width: 220px;
  line-height: 16px;
  padding: 6px 10px;
  font-size: 80%;
  text-align: center;
  background: #333;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2px 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  .transition-transform(~"0.3s ease-in, 0.2s ease-in opacity");
  .transform(translateY(20px));
  bottom: 100%;
  left: 10px;
  margin-bottom: 3px;
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    bottom: 0;
    left: 20px;
    margin: 0 0 -11px -7px;
  }
  &.shown{
    opacity: 0.9!important;
    -ms-filter: "none";
    .transform(none);
    .transition-transform(~"0.25s cubic-bezier(0.6, 1.6, 0.8, 1), 0.25s ease-out opacity");
  }
}
.double{
  white-space: nowrap;
  font-size: 0;
  margin: 0 2px 0 1px;
  .elem{
    font-size: @font-size;
    display: inline-block;
    width: 50%;
    margin-left: -1px;
  }
}
.fieldset{
  margin: 20px 0;
}
.modal-close{
  display: none;
  float: left;
}
.merchant{
  border-radius: 2px 2px 0 0;
  background: #fff;
  position: relative;
  padding: 10px;
  height: 40px;
  .middlefix();
}
/* Default class for an overlay */
.header{
  border-bottom: 2px solid @primary;
}
.merchant-image{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding-left: 10px;
  .middlefix();
}
.merchant-image img{
  max-width: 60px;
  max-height: 40px;
  vertical-align: middle;
  display: inline-block;
}
.merchant-name{
  vertical-align: middle;
  display: inline-block;
}
.merchant-title{
  color: #333;
  margin-bottom: 5px;
}
.merchant-powered{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 52px;
  background: url('../images/favicon.png') center no-repeat;
  background-size: 26px;
}
.rupee-icon{
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYCAYAAADzoH0MAAABoUlEQVQ4EZWUu0oDURCGdzV4QUkjRhALURBBQbBSRFsfwcpW0tkJErCys12xCYJiJV4KfQUVrSwECwleQETUQqKFRrN+E8/AySYn2fzwMZMz88/sHpZ4HgrDcBp+oVFtiLkDzhp10n8p3gQPMAr3cAvN0Al9MAwtoLojOYEmcxD4vv9p8vLAZB/G4BhUjyTd5Z2e58sBBdksW1UhSQG64Aj6QbQC26Xs35sv5QzIQB4+Irzz+wtUBRLteyYfl+3yqK/w7UBMqiKJ9q3KdnnXHqI8alEOIpJXmYeMOQ+I6ybPcYnymrXFggOzXrZP1e6OVDEswI8ZcEiUy64UhVZoB/moUjADmyBbRefQW+k0JxR34AZy8AYqufEA5I7couFUHcQn2IJFGHK7rAqNS6CSL27QKtdPMSRgTycQLyBZ32l1YJDLuwZV1irHS3FOgFycKh3PaXXhTKubKMMmrXK8FFPWGiKvlYrnNF0YkiAXqdonqf4VuiZjGIEXnUBcdvU6zzHNgf7Zyv/CrLPZVcC0BqoHkgFXb9VzDG1wpROIu3bjH9Lpayomlf62AAAAAElFTkSuQmCC') center no-repeat;
  display: inline-block;
  background-size: 8px;
  width: 14px;
  height: 14px;
  margin: 0px -1px -1px;
}
.clear{
  clear:both;
}
.body{
  text-align: left;
  padding: 0 @padding;
}
.elem-name{
  background-image: url('../images/ei-user.png');
}
.elem-email{
  background-image: url('../images/ei-envelope.png');
}
.elem-contact{
  background-image: url('../images/phone.png');
}
.elem-card{
  background-image: url('../images/card.png');
  &.visa{
    background-image: url('../images/icons/visa.png');
  }
  &.mastercard{
    background-image: url('../images/icons/mastercard.png');
  }
  &.maestro{
    background-image: url('../images/icons/maestro.png');
  }
  &.rupay{
    background-image: url('../images/icons/rupay.png');
  }
  &.amex{
    background-image: url('../images/icons/amex.png');
  }
}
.elem-expiry{
  background-image: url('../images/ei-calendar.png');
}
.elem-cvv{
  background-image: url('../images/ei-lock.png');
}

.body .submit.error{
  background-color: @danger;
}
.error{
  left: 0;
  right: 0;
  position: absolute;
  background-color: @danger;
  color: #fff;
  text-align: center;
  line-height: 18px;
  padding: 10px 20px 12px;
  overflow: hidden;
  .transition(0.3s);
  bottom: 100%;
  li{
    list-style: none;
    font-size: @font-size;
  }
}
.error-container{
  position: relative;
  overflow: hidden;
  margin: 0 -@padding;
  .transition(0.3s);
}
.error-container.has-error .error{
  bottom: 0;
}
.modal iframe{
  border: none;
  border-radius: 5px;
}
.tab-content{
  display: none;
}
.tab-content.active{
  display: block;
}

.tabs{
  margin: 0 -20px;
  padding: 0;
  white-space: nowrap;
  font-size: 0;
  display: none;

  &.tabs-2{
    display: block;
  }

  &.tabs-3{
    display: block;
    li{
      width: 33.33%;
    }
  }

  li{
    line-height: 48px;
    height: 48px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    border: 1px solid @border-color;
    border-right: none;
    width: 50%;
    font-size: @font-size;
    cursor: pointer;
    background: #fff;
    padding-bottom: 2px;
    
    &.active{
      color: @primary;
      cursor: default;
      pointer-events: none;
      padding-bottom: 1px;
      border-bottom: 2px solid @primary;
    }
    &:first-child{
      border-left: none;
      margin-right: -1px;
    }
    &[data-target=tab-wallet]{
      background: url('../images/paytm.png') no-repeat center #fff;
      background-size: 40%;
    }
  }
}
.form{
  padding-bottom: 52px;
  display: block;
}
.footer{
  z-index: 2;
  margin: 0 -@padding;
  position: absolute;
  width: 100%;
  bottom: 0;
}
