#loading{
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -60px;
  opacity: 0.8;
  div{
    width: 28px;
    height: 28px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    float: left;
    margin-left: 6px;
    animation: sk 1.4s infinite ease-in-out;
    animation-fill-mode: both;
    &:nth-child(2){
      animation-delay: -0.16s;
    }
    &:last-child{
      animation-delay: -0.32s;
    }
  }
}

@keyframes sk {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); } 
}

.shake {
  .modal-inner{
    transform-origin: center;
    animation-name: shake;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
}

@keyframes shake{
  0{transform:none}
  12.5%{transform:translateX(-6px) rotateY(-5deg)}
  37.5%{transform:translateX(5px) rotateY(4deg)}
  62.5%{transform:translateX(-3px) rotateY(-3deg)}
  87.5%{transform:translateX(2px) rotateY(2deg)}
  100%{transform:none}
}