@import "common";

@max-width: 414px; // iPhone 6 Plus
@media (max-device-height: 450px),(max-device-width: 450px){
.shake{
	animation:none;
}
#container{
	max-width: @max-width;
	margin: 0 auto;

	&:after{
		content: none;
	}
	.modal{
		min-width: 100%;
		display: block;
		background: #fafafa;
		color: #666;
		border-radius: 0;
		min-height: 100%;
		margin: 0 auto;
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
		.transform(translateY(10%) scale(0.9));
	}
	.modal-inner{
		position: static;
	}
	&.shown .modal{
		.transition(0.3s ease-out all);
		.transform(none);
	}
	#powered-by{
		position: absolute;
		top: 10px;
		visibility: hidden!important;
		bottom: auto;
		z-index: -1;
		pointer-events: none;
	}
	button{
		border-radius: 0;
	}
	#tabs{
		li{
			width: 50%;
		}
		&.tabs-3 li {
			width: 33.33%;
		}
	}
	.double .elem{
		width: 50%;
	}
	.elem-cvv{
		left: -4px;
	}
}
}