<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
  <form action="https://razorpay.com/">
    we've got plenty o' steel for fightin' men.
    <input placeholder="Required Field*" required>
    <input placeholder="Pattern Min 3 Chars" pattern=".{3,}">
    <input placeholder="Another Field">
    <% if(environment == "development") { %>
      <script type="text/javascript" src="js/lib/init.js"
          data-key="rzp_test_1DP5mmOlF5G5ag"
          data-amount="5100"
          data-buttontext="Subscribe",
          data-name="Warmaiden's"
          data-description="Purchase Description"
          data-image="images/image2.jpg"
          data-hostname="api.razorpay.com"
          data-protocol='https'
          data-netbanking='true'
          data-prefill.name="Harshil Mathur"
          data-notes.address="Jaipur"
          data-prefill.email='harshil@razorpay.com'
          data-prefill.contact='9999999999'>
      </script>
      <script type="text/javascript" src="js/lib/nominal-jquery.js"></script>
      <script type="text/javascript" src="js/base.js"></script>
      <script type="text/javascript" src="js/checkout-open.js"></script>
      <script type="text/javascript" src="js/fin.js"></script>
      <script type="text/javascript" src="js/lib/jquery-1.11.1.js"></script>
    <% } else { %>
      <script type="text/javascript" src="checkout.js"
          data-key="rzp_test_1DP5mmOlF5G5ag"
          data-amount="5100"
          data-buttontext="Subscribe",
          data-name="Warmaiden's"
          data-description="Purchase Description"
          data-image="images/image2.jpg"
          data-hostname="api.razorpay.com"
          data-protocol='https'
          data-netbanking='true'
          data-prefill.name="Harshil Mathur"
          data-notes.address="Jaipur"
          data-prefill.email='harshil@razorpay.com'
          data-prefill.contact='9999999999'>
      </script>
    <% } %>
    <!-- used for weinre
    <script src="http://192.168.100.12:8080/target/target-script-min.js"></script>
    -->
  </form>
  <style>
    form{
      position: fixed;
      top: 40px;
      left: 50px;
      font-family: Droid Serif, Dejavu Serif, Georgia, serif;
      padding: 15px 25px 0;
      border: 1px solid rgba(255, 255, 255, 0.3);
      background: rgba(255, 255, 255, 0.1);
      font-size: 14px;
      width: 180px;
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      text-align: center;
      line-height: 21px;
    }
    input{
      font-family: inherit;
      text-align: left;
      width: 200px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      background: none;
      display: block;
      line-height: 30px;
      border-radius: 2px;
      font-size: inherit;
      margin: 15px -10px;
      color: white;
      padding: 0 15px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    .razorpay-payment-button{
      line-height: 48px;
      border: 1px solid transparent;
      background: #fff;
      background-color: rgba(255,255,255,0.7);
      color: #000;
      color: rgba(0, 0, 0, 0.8);
      text-align: center;
      text-shadow: 1px 1px 3px rgba(255,255,255, 0.14);
    }
    body{
      margin: 0;
      background: #555;
      background-image: url('images/demo-shop.jpg');
      background-size: cover;
      background-attachment: fixed;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  </style>
</body>
  