<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Razorpay Checkout</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
    
    <!-- build:css css/checkout.css -->
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/shake.css" type="text/css" rel="stylesheet">
    <!-- endbuild -->

    <!-- build:js checkout-frame.js -->
    <% if(environment == "production") { %>
    <script type="text/javascript" src="js/rollbar.js"></script>
    <% } %>
    <script type="text/javascript" src="js/lib/init.html"></script>
    <script type="text/javascript" src="js/lib/popup.js"></script>
    <script type="text/javascript" src="js/lib/hedwig.js"></script>
    <script type="text/javascript" src="js/razorpay.js"></script>
    <script type="text/javascript" src="js/custom-checkout.js"></script>

    <script type="text/javascript" src="js/checkout-frame-init.js"></script>
    <script type="text/javascript" src="templates/modal.js"></script>
    <script type="text/javascript" src="js/lib/doT.js"></script>
    <script type="text/javascript" src="js/lib/jquery.payment.js"></script>
    <script type="text/javascript" src="js/lib/input.js"></script>
    <script type="text/javascript" src="js/lib/modal.js"></script>
    <script type="text/javascript" src="js/checkout-frame.js"></script>
    <!-- endbuild -->
    <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div id="loading"></div>
  </body>
</html>