.actionlink-container
  .actionlink
    display: inline-block;
    vertical-align: top;
    cursor: pointer;

    &:not(:first-child)
      margin-left: 4px;
      padding-left: 8px;
      border-left: 1px solid #C7C7C7;
