.expandable-card
  border: 1px solid #E6E7E8;
  padding: 16px;
  border-radius: 1px;
  cursor: pointer;

  .expandable-card-title
    color: #333333;
    font-size: 14px;
    line-height: 16px;

  .expandable-card-detail
    color: #757575;
    font-size: 13px;
    line-height: 16px;
    border-top: 1px solid transparent;
    max-height: 0px;
    transition: all 0.15s ease-in-out;
    overflow: hidden;

.expandable-card--expanded
  .expandable-card-title
    margin-bottom: 16px;

  .expandable-card-detail
    border-top-color: #E6E7E8;
    max-height: 32px;
    padding-top: 16px;

.expandable-card-list
  .expandable-card

    &:not(:first-child)
      &:not(.expandable-card--expanded)
        border-top-color: transparent;
