.expandable-card
  border: 1px solid #E6E7E8;
  padding: 12px 16px;
  border-radius: 1px;
  cursor: pointer;
  position: relative;

  .expandable-card-title
    color: #333333;
    font-size: 14px;
    line-height: 16px;

  .expandable-card-detail
    color: #757575;
    font-size: 13px;
    line-height: 16px;
    max-height: 0px;
    transition: all 0.15s ease-in-out;
    overflow: hidden;

    & [slot=detail]:not(:empty)
      border-top:1px solid #E6E7E8;
      padding-top: 8px;
      margin-top: 8px;
      &:first-child
        border-top: 1px solid transparent;

    ul
      padding-left: 18px;
      margin: 0;
      li>div
        display flex
        justify-content: space-between
      &.cardless-emi-plan-details
        li
          line-height: 1.4em;

.expandable-card--expanded
  .expandable-card-detail [slot=detail]:not(:empty)
    border-top-color: #E6E7E8;
    padding-top: 8px;
    margin-top: 8px;

.expandable-card-list
  .expandable-card

    &:not(:first-child)
      &:not(.expandable-card--expanded)
        border-top-color: transparent;