.instrument
  i[slot=icon]
    align-self: flex-start;
    
    img
      max-height: 22px;

    + div
      flex-grow: 1;

  div[slot=subtitle]
    font-size: 0.8rem;
    line-height: 1rem;
    color: #828282;
    margin-top: 2px;