.p13n-instrument {
  padding: 12px 16px;

  /* Icon styles */
  i {
    display: flex;
    margin-right: 8px;
    width: 22px;
    text-align: center;
  }

  i svg {
    width: 100%;
    max-height: 16px;
  }

  i i {
    width: 100%;
    margin: 0;
  }

  /* Content styles */
  div[slot='title'] {
    font-size: 1rem;
    line-height: 1rem;

    color: #363636;
  }
}