.has-tooltip
  position: relative;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;

  @keyframes visible
    0%
      z-index: 1
      opacity: 0
    100%
      z-index: 4
      opacity: 1

  @keyframes invisible
    0%
      z-index: 4
      opacity: 1
    100%
      z-index: 1
      opacity: 0

  .tooltip
    animation-name: invisible
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.8);
    border-radius: 3px;
    color: #fff;
    padding: 12px;
    pointer-events: none;

    &::before
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;

    &.tooltip-right
      margin-left: 8px;
      margin-top: -8px;
      left: 105%
      max-width: 300px;
      width: 50vw;
      transform: translateY(-50%)

      &::before
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        border-right: 5px solid black;
        left: -5px;
        transform: translateY(-50%)
        top: 50%;

  a
    color: inherit;

  &:hover,
  &:active
    .tooltip
      pointer-events: all;
      animation-name: visible;
