$background = rgba(0,0,0,0.8);
$tooltipDistance = 8px;
$caretShift = 16px;

.tooltip
  opacity: 0;
  z-index: 1;
  transition: opacity 0.15s ease-in;
  display: block;
  position: absolute;
  background-color: $background;
  border-radius: 3px;
  color: #fff;
  padding: 12px;
  pointer-events: none;
  width: 50vw;
  max-width: 300px;

  &::before
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid $background;

  // Done
  &.tooltip-right
    margin: 0;
    transform: translateY(-50%);
    top: 50%;
    left "calc(100% + %s)" % $tooltipDistance;
    &::before
      top: 50%;
      left: -6px;
      transform: translateY(-50%);

  // Done
  &.tooltip-left
    margin: 0;
    transform: translateY(-50%);
    top: 50%;
    right "calc(100% + %s)" % $tooltipDistance;
    &::before
      top: 50%;
      right: -6px;
      transform: translateY(-50%) rotate(180deg);

  // Done
  &.tooltip-top
    margin: -($tooltipDistance) 0 0 0;
    transform: translateX(-50%) translateY(-100%);
    left "calc(50% - %s)" % $tooltipDistance;
    &::before
      top: calc(100% + 3px);
      left: calc(50% + 5px);
      transform: translateY(-50%) rotate(270deg);

  // Done
  &.tooltip-bottom
    margin "calc(100% + %s) 0 0 0" % $tooltipDistance;
    transform: translateX(-50%);
    left "calc(50% - %s)" % $tooltipDistance;
    &::before
      top: -3px;
      left: calc(50% + 5px);
      transform: translateY(-50%) rotate(90deg);

  // Done
  &.tooltip-bottom.tooltip-left
    top: unset;
    bottom: unset;
    right: unset;
    left: 100%;
    transform: translateX(-100%);
    margin "calc(100% + %s) 0 0 calc(-50% + %s + %s)" % ($tooltipDistance $tooltipDistance ($caretShift / 4 + 1));
    &::before
      left "calc(100% - %s)" % $caretShift;

  // Done
  &.tooltip-bottom.tooltip-right
    top: unset;
    bottom: unset;
    right: unset;
    left: unset;
    transform: none;
    margin "calc(100% + %s) 0 0 calc(50% - %s - %s)" % ($tooltipDistance $tooltipDistance ($caretShift / 4 - 1));
    &::before
      left: ($caretShift / 2);

  // Done
  &.tooltip-top.tooltip-left
    top: unset;
    bottom: unset;
    right: unset;
    left: 100%;
    transform: translateX(-100%) translateY(-100%);
    margin "-%s 0 0 calc(-50% + %s + %s)" % ($tooltipDistance $tooltipDistance ($caretShift / 4 + 1));
    &::before
      left "calc(100% - %s)" % $caretShift;

  &.tooltip-top.tooltip-right
    top: unset;
    bottom: unset;
    right: unset;
    left: unset;
    transform: translateY(-100%);
    margin "-%s 0 0 calc(50% - %s - %s)" % ($tooltipDistance $tooltipDistance ($caretShift / 4 - 1));
    &::before
      left: ($caretShift / 2);

.has-tooltip
  position: relative;
  cursor: pointer;
  a
    color: inherit;

  &:hover,
  &:active
    .tooltip
      opacity: 1;
      pointer-events: all;

  .tooltip.tooltip-shown
    opacity: 1;
    pointer-events: all;
